.videoContainer {
  .placeholderImg {
    background-color: #f6f6f6;
    background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="194px" viewBox="0 0 24 24" width="194px" fill="%23b2b2b2"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M21 3H3c-1.11 0-2 .89-2 2v12c0 1.1.89 2 2 2h5v2h8v-2h5c1.1 0 1.99-.9 1.99-2L23 5c0-1.11-.9-2-2-2zm0 14H3V5h18v12zm-5-6l-7 4V7z"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;
    transition: border ease-in-out 0.3s;
    border: 1px solid #707070;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: 3px solid #ffc46b;
      z-index: 100;
    }
  }
}
