.Image__holdingbox {
   padding: 20px 20px 0 20px;
   height: 417px;
   display: flex;
   flex-direction: column;
}

.Image__outline {
   display: flex;
   position: relative;
   justify-content: center;
   align-items: center;
   background-color: #f6f6f6;
   height: 400px;
   transition: border ease-in-out 0.3s;
   border: 1px solid #707070;
}

.Image__outline:hover {
   cursor: pointer;
}

.Image__outline:focus {
   outline: 3px solid #ffc46b;
   z-index: 100;
}

.Image__uploadHover {
  padding: 20px 20px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Image__container {
  display: flex;
  flex-direction: column;
  border: none;
  position: relative;
  color: $white;
}

.Image__paper {
  position: relative;
  min-height: 128px;
}

.Image__editPanelPreview {
  display: flex;
  flex-direction: column;
}

.Image__img {
  border: none;
  max-width: 80%;
  height: auto;
  align-self: center;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: 3px solid $focus-outline-color;
  }
}

.Image__icon {
  position: absolute;
  &:focus {
    outline: none;
  }
}


.Image__label {
  width: 80px;
  display: inline-block;
}

.Image__input {
  align-self: center;
  border: 1.5px solid #E8E8E8;
  font-family: $primary-font;
  background: $secondary-color;
  color: $black;
  width: 97%;
  font-size: 0.875em;
  border-radius: 4px;
  resize: none;
  margin-top: 0.5em;
}

.Image__caption {
  border: none;
  font-family: $primary-font;
  box-sizing: border-box;
  width: calc(100% - 4px);
  padding: 10px 10px;
  margin: 5px;
  background: $white;
  align-self: center;
  text-align: left;
  font-size: 14px;
  color: $black;
  resize: none;
  overflow: hidden;
  &:focus,
  &:active{
    outline: 2px solid $focus-outline-color;
  }
}

.Image__icon {
  color: $icon-color;
  font-size: 194px;
}

.Image__tab,
.Image__delete_tab {
  border-radius: 10px 10px 0px 0px;
  background: $primary-color;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  &:active {
    background: #4b13a0;
  }
  &:focus {
    outline: 2px solid $focus-outline-color;
  }
}

.Image__tab {
  padding: 5px 10px 5px 10px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.15px;
  top: -34px;
  left: -3px;
}

.Image__tab p {
  margin: 0px;
}

.Image__delete_tab {
  padding: 2px 0;
  top: -32px;
  right: -3px;
  display: flex;
}
