//custom radio buttons
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid $input-border;
}

input[type='radio']:checked:after {
    width: 4px;
    height: 4px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: $radio-bg;
    content: '';
    display: inline-block;
    visibility: visible;
    border-width: 8px;
}

textarea, input[type='text'], input[type='email'], input[type='password'] {
    border-radius: 6px;
    border: 1px solid $border-color;
    
    &:hover {
        box-shadow: 0 0 0 3px $textarea-border-hover;
    }
}