html {
    @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
    font: 16px/20px Inter, sans-serif;
}

body {
    color: $text-body;
    background-color: $page-background;
}

*:focus {
    @include outline-focus;
    outline-offset: 2px;
    z-index: 1;
}
// :-moz-focusring is a FF only equivalent of :focus-visible. 
// normalize.css is setting this to the tiny dotted outline, so this rule
// resets it back to behave similar to our style's default :focus behavior,
// as defined in the rule above.
button:-moz-focusring, 
[type="button"]:-moz-focusring, 
[type="reset"]:-moz-focusring, 
[type="submit"]:-moz-focusring {
    @include outline-focus;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-weight: bold;
    margin-top: 0;
    
    &.border-bottom {
        border-color: $heading-underline;
        margin-bottom: 1rem;
        padding-bottom: 0.25rem;
    }
}

h1, .h1, .font-largest { 
    @include font-largest;
}
h2, .h2, .font-larger { 
    @include font-larger; 
}
h3, .h3, .font-large { 
    @include font-large; 
}
h4, .h4, .font-normal { 
    @include font-normal; 
}
h5, .h5, .font-small { 
    @include font-small; 
}
h6, .h6, .font-smallest { 
    @include font-smallest; 
}

p {
    margin: 0 0 1.25rem 0;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.009375rem;
    color: #232323;
}

a {
    color: $link-color;
    font-style: normal;
}

.pointer {cursor: pointer;}

.full-width {
    width: 100%;
}

.alert {
    padding: 15px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 0px;

    &.alert-warning {
        color: $warning-text;
        background-color: $warning-bg;
    }

    & > p {
        margin-bottom: 0;
    }
}

.box-shadow {
    @include box-shadow;
}

.box-shadow-darker {
    @include box-shadow-darker;
}

.std-radius {
    border-radius: $btn-primary-rad;
}

.noclick {
    cursor: default; 
    pointer-events: none;
}

// Use this for Font-Awesome icons that want to be positioned "beside" text as if there is a space.
.fa.left-space {
    padding-left: .25rem;
}

.MJXc-display {
    text-align: unset !important;
    color: blue;
}