@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.ql-container.ql-snow {
  font-size: 16px;
  letter-spacing: 0.15px;
  border: none !important;
}

.ql-editor.ql-blank::before {
  font-style: normal !important;
  font-size: 16px;
  letter-spacing: 0.15px;
}

.ql-editor.ql-blank {
  line-height: 24px;
  min-height: 72px;
}

.quill.quillEditor {
  font-family: "Inter", sans-serif;
  padding: 40px 104px;
  line-height: 24px;

  &::placeholder {
    font-style: normal;
    color: rgba(0, 0, 0, 0.12) !important;
    font-weight: 400;
  }

  .ql-editor.ql-blank::before {
    color: rgba(0, 0, 0, 0.12) !important;
    font-weight: 400;
  }
}

.hidetool {
  display: none;
}

.showtool {
  display: flex;
  justify-content: center;
}

.ql-toolbar.ql-snow .ql-formats {
  margin-right: 0px;
}
