---
{
  "result": {
    "title": "Callout",
    "components": [
      {
        "uuid": "00ef1a53-b7ec-4c11-9554-43bbd6d44d09",
        "uuidClean": "00ef1a53_b7ec_4c11_9554_43bbd6d44d09",
        "type": "callout",
        "calloutType":"Definition",
        "body": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>\n",
        "heading": {
          "processed": "Definition - h2.h4",
          "headingLevel": "h2"
        }
      },
      {
        "uuid": "00ef1a53-b7ec-4c11-9554-43bbd6d44d10",
        "uuidClean": "00ef1a53_b7ec_4c11_9554_43bbd6d44d10",
        "type": "callout",
        "calloutType": "Try It",
        "body": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>\n",
        "heading": {
          "processed": "Try It - h3.h4",
          "headingLevel": "h3"
        }
      },
      {
        "uuid": "00ef1a53-b7ec-4c11-9554-43bbd6d44d11",
        "uuidClean": "00ef1a53_b7ec_4c11_9554_43bbd6d44d11",
        "type": "callout",
        "calloutType": "Challenge",
        "body": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>\n",
        "heading": {
          "processed": "Challenge - h4.h4",
          "headingLevel": "h4"
        }
      },
      {
        "uuid": "00ef1a53-b7ec-4c11-9554-43bbd6d44d12",
        "uuidClean": "00ef1a53_b7ec_4c11_9554_43bbd6d44d12",
        "type": "callout",
        "calloutType": "Notebook",
        "body": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>\n",
        "heading": {
          "processed": "Notebook - h5.h4",
          "headingLevel": "h5"
        }
      }
    ]
  },
  "layout": "amp-layout.njk",
  "permalink": "demo-amp-callout.html"
}
---
<h1>{{result.title}} {{projectConfig.version}} - {{projectConfig.date}}</h1>
{% include amp-callout.html data:result.components[0] -%}
{% include amp-callout.html data:result.components[1] -%}
{% include amp-callout.html data:result.components[2] -%}
{% include amp-callout.html data:result.components[3] -%}
