---
{
	"result": {
		"title": "Image",
		"components": [{
				"uuid": "00ef1a53-b7ec-4c11-9554-43bbd6d44935",
				"uuidClean": "00ef1a53_b7ec_4c11_9554_43bbd6d44935",
				"type": "image",
				"width": 1024,
				"height": 664,
				"url": "https://assets.contenta.tvo.org/prod/public/2020-06/04.20.09_retrodriving.png",
				"altText": "woman driving a car",
				"caption": "This is a woman driving a nice car.",

				"RESPONSIVE_330": {
					"width": 330,
					"height": 214,
					"url": "https://assets.contenta.tvo.org/prod/public/styles/responsive_330/public/2020-06/04.20.09_retrodriving.png?itok=lxExwZw0"
				},
				"RESPONSIVE_508": {
					"width": 508,
					"height": 329,
					"url": "https://assets.contenta.tvo.org/prod/public/styles/responsive_508/public/2020-06/04.20.09_retrodriving.png?itok=m3oylZUW"
				},
				"RESPONSIVE_524": {
					"width": 524,
					"height": 340,
					"url": "https://assets.contenta.tvo.org/prod/public/styles/responsive_524/public/2020-06/04.20.09_retrodriving.png?itok=42_HAaWs"
				},
				"RESPONSIVE_647": {
					"width": 647,
					"height": 420,
					"url": "https://assets.contenta.tvo.org/prod/public/styles/responsive_647/public/2020-06/04.20.09_retrodriving.png?itok=z3i1UKD4"
				},
				"RESPONSIVE_792": {
					"width": 792,
					"height": 514,
					"url": "https://assets.contenta.tvo.org/prod/public/styles/responsive_792/public/2020-06/04.20.09_retrodriving.png?itok=taG4r9Du"
				},
				"RESPONSIVE_1000": {
					"width": 1000,
					"height": 648,
					"url": "https://assets.contenta.tvo.org/prod/public/styles/responsive_1000/public/2020-06/04.20.09_retrodriving.png?itok=QF2E46Wa"
				},
				"RESPONSIVE_1294": {
					"width": 1024,
					"height": 664,
					"url": "https://assets.contenta.tvo.org/prod/public/styles/responsive_1294/public/2020-06/04.20.09_retrodriving.png?itok=g2EDjlu7"
				},
				"RESPONSIVE_1584": {
					"width": 1024,
					"height": 664,
					"url": "https://assets.contenta.tvo.org/prod/public/styles/responsive_1584/public/2020-06/04.20.09_retrodriving.png?itok=2ZP5Aiw5"
				},
				"RESPONSIVE_2000": {
					"width": 1024,
					"height": 664,
					"url": "https://assets.contenta.tvo.org/prod/public/styles/responsive_2000/public/2020-06/04.20.09_retrodriving.png?itok=ACSP82NL"
				}

			},
			{
				"uuid": "00ef1a53-b7ec-4c11-9554-43bbd6d44936",
				"uuidClean": "00ef1a53_b7ec_4c11_9554_43bbd6d44936",
				"type": "image",
				"width": 1618,
				"height": 1345,
				"url": "https://assets.contenta.tvo.org/prod/public/2020-07/05.29.01_dumbbells.jpg",
				"altText": "Man doing weight training",
				"caption": "Weight training is a good way to exercise.",

				"RESPONSIVE_330": {
					"width": 330,
					"height": 274,
					"url": "https://assets.contenta.tvo.org/prod/public/styles/responsive_330/public/2020-07/05.29.01_dumbbells.jpg?itok=6HIPWseE"
				},
				"RESPONSIVE_508": {
					"width": 508,
					"height": 422,
					"url": "https://assets.contenta.tvo.org/prod/public/styles/responsive_508/public/2020-07/05.29.01_dumbbells.jpg?itok=229Wv3cH"
				},
				"RESPONSIVE_524": {
					"width": 524,
					"height": 436,
					"url": "https://assets.contenta.tvo.org/prod/public/styles/responsive_524/public/2020-07/05.29.01_dumbbells.jpg?itok=-mgabkW2"
				},
				"RESPONSIVE_647": {
					"width": 647,
					"height": 538,
					"url": "https://assets.contenta.tvo.org/prod/public/styles/responsive_647/public/2020-07/05.29.01_dumbbells.jpg?itok=7VNciYEM"
				},
				"RESPONSIVE_792": {
					"width": 792,
					"height": 658,
					"url": "https://assets.contenta.tvo.org/prod/public/styles/responsive_792/public/2020-07/05.29.01_dumbbells.jpg?itok=Z8TZCkoq"
				},
				"RESPONSIVE_1000": {
					"width": 1000,
					"height": 831,
					"url": "https://assets.contenta.tvo.org/prod/public/styles/responsive_1000/public/2020-07/05.29.01_dumbbells.jpg?itok=m3pmKG_K"
				},
				"RESPONSIVE_1294": {
					"width": 1294,
					"height": 1076,
					"url": "https://assets.contenta.tvo.org/prod/public/styles/responsive_1294/public/2020-07/05.29.01_dumbbells.jpg?itok=_K-4jc96"
				},
				"RESPONSIVE_1584": {
					"width": 1584,
					"height": 1317,
					"url": "https://assets.contenta.tvo.org/prod/public/styles/responsive_1584/public/2020-07/05.29.01_dumbbells.jpg?itok=hKH51uus"
				},
				"RESPONSIVE_2000": {
					"width": 1618,
					"height": 1345,
					"url": "https://assets.contenta.tvo.org/prod/public/styles/responsive_2000/public/2020-07/05.29.01_dumbbells.jpg?itok=q2XyTvVM"
				}

			}
		]
	},
	"layout": "amp-layout.njk",
	"permalink": "demo-amp-image.html"
}
---
<h1>{{result.title}} {{projectConfig.version}} - {{projectConfig.date}}</h1>

<h2>Image without caption</h2>
{% include amp-image.html data:result.components[0] -%}

<h2>Image with caption</h2>
{% include amp-image.html data:result.components[1] -%}