.ql-snow.ql-toolbar.toolbarContainer {
  border-radius: 4px;
  border-left: 4px solid #1565c0;
  height: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 184px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.toolbar-button {
  &:hover {
    background-color: rgb(226, 236, 245) !important;
  }

  &:active {
    background-color: rgb(226, 236, 245) !important;
  }
}

.bold-dropdown-button {
  position: relative;
  padding: 0px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.ql-selected.ql-active,
.ql-selected.ql-formula {
  background-color: rgb(226, 236, 245) !important;
}

.ql-toolbar.ql-snow .ql-formats {
  margin-right: 0px;
}

.ql-toolbar button {
  border-radius: 4px;
}
.center-active {
  .ql-toolbar button {
    background-color: rgb(226, 236, 245) !important;
  }
}
