.StyledCard {
  position: absolute;
  display: var(--card-display);
  justify-content: center;
  align-items: center;
  width: var(--width);
  height: 40px !important;
  left: var(--left);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  bottom: -43px;
  z-index: 25;
  svg {
    .svg-fill {
      fill: #232323;
    }
  }

  .ql-active {
    background-color: rgba(21, 101, 192, 0.12) !important;
    svg {
      .svg-fill {
        fill: #1565c0;
      }
    }
  }
  button {
    display: flex !important;
    margin: 2px;
    width: 30px !important;
    height: 30px !important;
    justify-content: center;
    align-items: center;
  }
}
