.showToolBar{
  display: flex;
  justify-content: center;

  .ql-snow.ql-toolbar.toolbarContainer {
    border-radius: 4px;
    border-left: 4px solid #1565c0;
    height: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 184px;
    position: relative;
  }

}

