@mixin box-shadow {
    box-shadow: 6px 6px 20px #0000000D;
}

@mixin box-shadow-darker {
    box-shadow: 6px 6px 20px #00000033;
}

// By default, all elements use the :focus rule in global.scss,
// but this is here in case you need to re-apply this rule because
// something else (AMP) changes it.
@mixin outline-focus {
    outline: $outline-focus solid 3px;
}