<div class="clearfix">
    <div class="mb4 font-small">
        {% for questionPart in question.question %}            
            {% if questionPart.type == "formatted_text" %}
            {% include amp-formatted-text.html data:questionPart wrapperStyles:"inner" %} 
            {% elsif questionPart.type == "image" %}
            {% include amp-image.html data:questionPart wrapperStyles:"inner" %}
            {% endif %}
        {% endfor %}
    </div>
    {% assign prevFocusable = thisFocusable %}
    {% assign thisFocusable = "" %}
    {% assign questionId = question.uuidClean %} 
    <div class="mb2">   
        <div class="input">   
            <div class="quiz-choice" [class]="thisSelected_c{{quizId}}{{ questionId }} ? 'quiz-choice selected':enabledState{{ questionId }} && q{{ count }}{{ questionId }}?'quiz-choice noclick':'quiz-choice'">
                <label [class]="enabledState{{ questionId }} && q{{ count }}{{ questionId }} ? 'radio-disabled':'radio-enabled'" class="radio-enabled" for="true{{ questionId }}">
                    <input [class]="enabledState{{ questionId }} && q{{ count }}{{ questionId }}  ? 'mr1 radio-disabled':'mr1 radio-enabled'" class="mr1 radio-enabled" type="radio" id="true{{ questionId }}" name="q{{quizId}}{{ count }}" value="true" 
                        on="input-debounced: AMP.setState({ thisSelected_c{{quizId}}{{ questionId }}: true, thisSelected_i{{quizId}}{{ questionId }}: false, q{{ count }}{{ questionId }}: {% if question.answer == true %}event.value{% else %}''{% endif %} , submitButtonReady{{ questionId }}: true, enabledState{{ questionId }}: false })">
                    True
                </label>
            </div>
            {% if thisFocusable == "" %}{% assign thisFocusable = "true" | append: questionId %}{% endif %}  
            {% if firstFocusable == "" %}{% assign firstFocusable = "true" | append: questionId %}{% endif %}
            <div class="quiz-choice" [class]="thisSelected_i{{quizId}}{{ questionId }} ? 'quiz-choice selected':enabledState{{ questionId }} && q{{ count }}{{ questionId }}?'quiz-choice noclick':'quiz-choice'">
                <label [class]="enabledState{{ questionId }} && q{{ count }}{{ questionId }} ? 'radio-disabled':'radio-enabled'" class="radio-enabled" for="false{{ questionId }}">
                    <input [class]="enabledState{{ questionId }} && q{{ count }}{{ questionId }}  ? 'mr1 radio-disabled':'mr1 radio-enabled'" class="mr1 radio-enabled" type="radio" id="false{{ questionId }}" name="q{{quizId}}{{ count }}" value="false" 
                        on="input-debounced: AMP.setState({ thisSelected_i{{quizId}}{{ questionId }}: true, thisSelected_c{{quizId}}{{ questionId }}: false, q{{ count }}{{ questionId }}: {% if question.answer == false %}event.value{% else %}''{% endif %} , submitButtonReady{{ questionId }}: true, enabledState{{ questionId }}: false })">
                    False
                </label> 
            </div>  
        </div>
    </div>
</div> 
<div class="button-group">
    <button type="button" class="btn btn-primary full-width" [class]="!submitButtonReady{{ questionId }} && enabledState{{ questionId }} ? 'btn btn-primary full-width active' : 'btn btn-primary full-width'" on="tap:AMP.setState({ countCorrect{{quizId}}: q{{ count }}{{ questionId }} ? countCorrect{{quizId}} + 1 : countCorrect{{quizId}}, submitButtonReady{{ questionId }}: false, enabledState{{ questionId }}: true })" disabled [disabled]="!submitButtonReady{{ questionId }}">Submit</button>
    <div [class]="enabledState{{ questionId }}  ? 'feedback-reveal box-shadow show-fb' : 'hide-fb'" class="hidden">
        <div id="feedback_{{ questionId }}_c" class="hide-fb" [class]="enabledState{{ questionId }} && q{{ count }}{{ questionId }} ? 'show-fb inline' : 'hide-fb'"><div class="left"><i class="fa fa-check font-large correct mr1" aria-hidden="true"></i></div><div class="inline-table"><span class="mb3">Correct</span><br /><p>{{question.feedbackCorrect}}</p></div></div>
        <div id="feedback_{{ questionId }}_i" class="hide-fb" [class]="enabledState{{ questionId }} && !q{{ count }}{{ questionId }} ? 'show-fb inline' : 'hide-fb'"><div class="left"><i class="fa fa-times font-large wrong mr1" aria-hidden="true"></i></div><div class="inline-table"><span class="mb3">Incorrect</span><br /><p>{{question.feedbackIncorrect}}</p></div></div>
    </div>
    
</div>
<div class="mt2 px4 pb1 clearfix">
        {% if count > 1 %}
        <button class="btn btn-primary btn-flex pull-left" type="button" on="tap:AMP.setState({ quizPage{{quizId}} : quizPage{{quizId}} - 1 }), quizTop{{quizId}}.scrollTo(duration=200), {{prevFocusable}}.focus">
            <i class="fa fa-chevron-left circle-icon btn-col"></i><span class="btn-col label">Previous</span>
        </button>
        {% endif %}
        <button class="btn btn-primary btn-flex pull-right" type="button" on="tap:AMP.setState({ quizPage{{quizId}} : quizPage{{quizId}}  + 1 }), quizTop{{quizId}}.scrollTo(duration=200)">
            <span class="btn-col label">Next</span><i class="fa fa-chevron-right circle-icon btn-col"></i>
        </button>
</div>
