<div class="tabs wrapper bottom-margin">
    {%- assign tab.id = 'tablist' | append: data.uuidClean -%}
    <amp-selector class="tabs"
        role="tablist"
        keyboard-select-mode="focus"
        id="{{tab.id}}">

    {%- for tab in data.props.layoutState -%}

        <div id="{{tab.id}}_tab{{forloop.index}}"
            role="tab"
            aria-controls="{{tab.id}}_tabpanel{{forloop.index}}"
            class="p1"
            option
        {% if forloop.index == 1 -%}
            selected
        {%- endif -%}
        >
            {{tab.title}}
        {% if tab.title.length > 84 -%}
            <span class="hoverTabText hoverTabText{{data.props.layoutState.length}}">
                {{tab.title}}
            </span>
        {%- endif -%}
        </div>


        <div id="{{tab.id}}_tabpanel{{forloop.index}}"
            role="tabpanel"
            aria-labelledby="{{tab.id}}_tab{{forloop.index}}"
            class="border-left border-right border-bottom px3 pt3">

            {%- for c in tab.components -%}
                {% include content-model-parser.liquid item:c %}
            {%- endfor -%}
        </div>
    {%- endfor -%}

    </amp-selector>
</div>

<div class="accordion wrapper bottom-margin hideAccordion">
    {%- assign accordionId = 'accordion' | append: data.uuidClean -%}
    {%- assign ariaControls = '' -%}
    {%- assign btnExpandHidden = '' -%}
    {%- assign btnCollapseHidden = '' -%}
    {%- for pane in data.accordionPanes -%}
        {%- assign ariaControls = ariaControls | append: accordionId | append: '_AMP_content_' | append: forloop.index0 | append: ' ' -%}
        {%- assign btnExpandHidden = btnExpandHidden | append: accordionId | append: '_AMP_content_' | append: forloop.index0 | append: '_expanded && ' -%}
        {%- assign btnCollapseHidden = btnCollapseHidden | append: '!' | append: accordionId | append: '_AMP_content_' | append: forloop.index0 | append: '_expanded && ' -%}
    {%- endfor -%}
    {%- assign size = btnExpandHidden | size | minus: 4 -%}
    {%- assign btnExpandHidden = btnExpandHidden | slice: 0, size -%}
    {%- assign size = btnCollapseHidden | size | minus: 4 -%}
    {%- assign btnCollapseHidden = btnCollapseHidden | slice: 0, size -%}
    
        {%comment%}Introduction:{%endcomment%}
        <div>
            {{ data.introduction | default: '' }}
        </div>
    
        {%comment%}
            Expand / Collapse Buttons:
            Both of these buttons are hidden from screen readers because of concerns about confusing non-sighted users.
        {%endcomment%}
        <div class="right pb1" aria-hidden="true">
            <button
                id="{{ accordionId }}_expandAll"
                on="tap:{{ accordionId }}.expand(),{{ accordionId }}_collapseAll.show(),{{ accordionId }}_expandAll.hide();"
                [hidden]="{{ btnExpandHidden }}"
                class="btn link"
            >
                <span class="bold">Expand All</span>
            </button>
            <button
                id="{{ accordionId }}_collapseAll"
                on="tap:{{ accordionId }}.collapse(),{{ accordionId }}_collapseAll.hide(),{{ accordionId }}_expandAll.show();"
                hidden
                [hidden]="{{ btnCollapseHidden }}"
                class="btn link"
            >
                <span class="bold">Close All</span>
            </button>
        </div>
    
        {%comment%}Actual Accordion:{%endcomment%}
        <amp-accordion
            disable-session-states
            animate
            id="{{ accordionId }}"
            class="accordion"
            aria-label="Accordion with {{ data.accordionPanes.size }} sections"
        >
        {%- for tab in data.props.layoutState -%}
            {%comment%}Pane:{%endcomment%}
            <section
                on="expand:AMP.setState({ {{ accordionId }}_AMP_content_{{ forloop.index0 }}_expanded: true }); collapse:AMP.setState({ {{ accordionId }}_AMP_content_{{ forloop.index0 }}_expanded: false });">
    
                {%comment%}Pane Heading:{%endcomment%}
                <h2 id="{{ accordionId }}_heading{{ forloop.index0 }}" class="heading h4 p2" aria-label="Accordion section {{ forloop.index }} of {{ data.accordionPanes.size }} {{ pane.heading.processed }}">
                    <span class="inline-block">
                        {{ tab.title }}
                    </span>
                    <i class="fa fa-chevron-down fa-pull-right m0" 
                       [class]="{{ accordionId }}_AMP_content_{{ forloop.index0 }}_expanded ? 'fa fa-chevron-up fa-pull-right m0' : 'fa fa-chevron-down fa-pull-right m0'"
                       aria-hidden="true"></i>
                </h2>
    
                {%comment%}Pane Body:{%endcomment%}
                <div class="section-content border-left border-right p2" aria-labelledby="{{ accordionId }}_heading{{ forloop.index0 }}">
                    {%- for c in tab.components -%}
                        {% include content-model-parser.liquid item:c %}
                    {%- endfor -%}
                    <span class="sr-only">End of section</span>
                </div>
            </section>
        {%- endfor -%}
        </amp-accordion>
    </div>