<div class="accordion wrapper bottom-margin">

<script type="text/javascript">
  console.log("Dumping data object here");
  console.log({{ data | json }});
</script>

{%- for pane in data -%}
    {%- assign accordionId = 'accordion' | append: data.id -%}
{%- endfor -%}

{%- assign ariaControls = '' -%}
{%- assign btnExpandHidden = '' -%}
{%- assign btnCollapseHidden = '' -%}
{%- for pane in data -%}
    {%- assign ariaControls = ariaControls | append: accordionId | append: '_AMP_content_' | append: forloop.index0 | append: ' ' -%}
    {%- assign btnExpandHidden = btnExpandHidden | append: accordionId | append: '_AMP_content_' | append: forloop.index0 | append: '_expanded && ' -%}
    {%- assign btnCollapseHidden = btnCollapseHidden | append: '!' | append: accordionId | append: '_AMP_content_' | append: forloop.index0 | append: '_expanded && ' -%}
{%- endfor -%}
{%- assign size = btnExpandHidden | size | minus: 4 -%}
{%- assign btnExpandHidden = btnExpandHidden | slice: 0, size -%}
{%- assign size = btnCollapseHidden | size | minus: 4 -%}
{%- assign btnCollapseHidden = btnCollapseHidden | slice: 0, size -%}


    {%comment%}Introduction:
    <div>
        {{ data.introduction | default: '' }}
    </div>
    {%endcomment%}

    {%comment%}
        Expand / Collapse Buttons:
        Both of these buttons are hidden from screen readers because of concerns about confusing non-sighted users.
    {%endcomment%}
    <div class="right pb1" aria-hidden="true">
        <button
            id="{{ accordionId }}_expandAll"
            on="tap:{{ accordionId }}.expand(),{{ accordionId }}_collapseAll.show(),{{ accordionId }}_expandAll.hide();"
            [hidden]="{{ btnExpandHidden }}"
            class="btn link"
        >
            <span class="bold">Expand All</span>
        </button>
        <button
            id="{{ accordionId }}_collapseAll"
            on="tap:{{ accordionId }}.collapse(),{{ accordionId }}_collapseAll.hide(),{{ accordionId }}_expandAll.show();"
            hidden
            [hidden]="{{ btnCollapseHidden }}"
            class="btn link"
        >
            <span class="bold">Close All</span>
        </button>
    </div>

    {%comment%}Actual Accordion:{%endcomment%}
    <amp-accordion
        disable-session-states
        animate
        id="{{ accordionId }}"
        class="accordion"
        aria-label="Accordion with {{ data.accordionPanes.size }} sections"
    >
    {%- for pane in data -%}
        {%comment%}Pane:{%endcomment%}
        <section
            on="expand:AMP.setState({ {{ accordionId }}_AMP_content_{{ forloop.index0 }}_expanded: true }); collapse:AMP.setState({ {{ accordionId }}_AMP_content_{{ forloop.index0 }}_expanded: false });">

            {%comment%}Pane Heading:{%endcomment%}
            <div id="{{ accordionId }}_heading{{ forloop.index0 }}" class="heading h4 p2" aria-label="Accordion section {{ forloop.index }} of {{ data.accordionPanes.size }} {{ pane.heading.processed }}">
                <span class="inline-block">
                    <!-- {{ pane.heading.processed }} -->
                    {{ pane.title }}
                </span>
                <i class="fa fa-chevron-down fa-pull-right m0" 
                   [class]="{{ accordionId }}_AMP_content_{{ forloop.index0 }}_expanded ? 'fa fa-chevron-up fa-pull-right m0' : 'fa fa-chevron-down fa-pull-right m0'"
                   aria-hidden="true"></i>
            </div>

            {%comment%}Pane Body:{%endcomment%}
            <div class="section-content border-left border-right p2" aria-labelledby="{{ accordionId }}_heading{{ forloop.index0 }}">

                {%- for panes in data -%}
                    {%- for component in panes.components -%}

                        <script type="text/javascript">
                            console.log("components");
                            console.log({{ component | json }});
                        </script>
                        
                            {% include content-model-parser.liquid item:component %}

                    {%- endfor -%}
                {%- endfor -%}

                <span class="sr-only">End of section</span>
            </div>
        </section>
    {%- endfor -%}
    </amp-accordion>
</div>