---
{ "result": { "title": "Formatted Text", "components": [
          # formatted text without heading
          {
            "uuid": "00ef1a53-b7ec-4c11-9554-43bbd6d44db1",
            "uuidClean": "00ef1a53_b7ec_4c11_9554_43bbd6d44db1",
            "type": "formatted_text",
            "heading": null,
            "body": "<p>This Formatted Text box does not have a heading.</p><p>If we compare the number of adults to the number of children, we would say the ratio of adults to children is <strong>two to three</strong> or 2 adults for every 3 children (word form).</p>\n<p>We can also write this as adults : children = \\(2:3\\) (colon form) or it can be written \\(\\frac{2}{3}\\) (fraction form).</p>\n<p>The order in which we write the numbers depends on the order in which we are describing the quantities.</p>\n",
          },
          # formatted text with heading
          {
            "uuid": "00ef1a53-b7ec-4c11-9554-43bbd6d44db2",
            "uuidClean": "00ef1a53_b7ec_4c11_9554_43bbd6d44db2",
            "type": "formatted_text",
            "heading":
              {
                "processed": "Formatted text with a heading!",
                "headingLevel": "h2",
              },
            "body": "<p>If we compare the number of adults to the number of children, we would say the ratio of adults to children is <strong>two to three</strong> or 2 adults for every 3 children (word form).</p>\n<p>We can also write this as adults : children = \\(2:3\\) (colon form) or it can be written \\(\\frac{2}{3}\\) (fraction form).</p>\n<p>The order in which we write the numbers depends on the order in which we are describing the quantities.</p>\n",
          },
          # formatted text no heading
          {
            "uuid": "00ef1a53-b7ec-4c11-9554-43bbd6d44db3",
            "uuidClean": "00ef1a53_b7ec_4c11_9554_43bbd6d44db3",
            "type": "formatted_text",
            "body": "<p>This example uses Formatted-Text-No-Heading, where a heading is <strong>not even an option</strong>.</p><p>If we compare the number of adults to the number of children, we would say the ratio of adults to children is <strong>two to three</strong> or 2 adults for every 3 children (word form).</p>\n<p>We can also write this as adults : children = \\(2:3\\) (colon form) or it can be written \\(\\frac{2}{3}\\) (fraction form).</p>\n<p>The order in which we write the numbers depends on the order in which we are describing the quantities.</p>\n",
          },
        ] }, "layout": "amp-layout.njk", "permalink": "demo-amp-formatted-text.html" }
---

<h1>{{result.title}} {{projectConfig.version}} - {{projectConfig.date}}</h1>

{% include amp-formatted-text.html data:result.components[1] -%}
<hr />
{% include amp-formatted-text.html data:result.components[0] -%}
<hr />
{% include amp-formatted-text.html data:result.components[2] -%}
