---
{
    "result": {
        "title": "Section Layout",
        "sections": [
            {
                "uuid": "c2fc2507-39e3-47d9-a6c2-8d08bfe83353",
                "uuidClean": "c2fc2507_39e3_47d9_a6c2_8d08bfe83353",
                "type": "section",
                "sectionType": "Minds On",
                "topics": [
                    {
                        "uuid": "aafc2507-39e3-47d9-a6c2-8d08bfe83353",
                        "uuidClean": "aafc2507_39e3_47d9_a6c2_8d08bfe83353",
                        "type": "topic",
                        "heading": {
                            "processed": "What is a ratio?",
                            "headingLevel": "h2"
                        },
                        "components": [
                            {
                                "uuid": "1",
                                "type": "formatted_text",
                                "heading": null,
                                "body": "<p>The video examines rate, ratio, and proportion and shows how these math relationships play a role in photography.</p>"
                            },
                            {
                                "uuid": "2",
                                "type": "brightcove_video",
                                "brightcoveDataPlayer": "mLPSmEWSk",
                                "brightcoveDataVideoId": "ref:2531990"
                            },
                            {
                                "uuid": "3",
                                "type": "formatted_text",
                                "heading": null,
                                "body": "<p>A <strong>ratio</strong> is a comparison of two or more things with the same units. Consider this photo of children and adult skiers.</p>"
                            }
                        ]
                    }
                ]
            }
        ]
    },
    "layout": "amp-layout.njk",
    "permalink": "demo-amp-section.html"
}
---
<strong>{{result.title}} {{projectConfig.version}} - {{projectConfig.date}}</strong>

{% include amp-section.html section:result.sections[0] -%}