---
layout: "amp-layout.njk"
permalink: "demo-colors.html"
---
<div class="color-test p3">
    <h1 class="border-bottom">Color Palette</h1>
    
    <table>
        <!-- <tr>
            <td>
                <div class="swatch primary-light-bg"></div>
            </td>
            <td>
                <em>Brand Primary Light</em>
            </td>
            <td>
                n/a
            </td>
        </tr> -->
        <tr>
            <td>
                <div class="swatch primary-bg"></div>
            </td>
            <td>
                Brand Primary
            </td>
            <td>
                Buttons
            </td>
        </tr>
        <tr>
            <td>
                <div class="swatch primary-dark-bg"></div>
            </td>
            <td>
                Brand Primary Dark
            </td>
            <td>
                Button hover effects
            </td>
        </tr>

        <tr>
            <td>
                <div class="swatch secondary-light-bg"></div>
            </td>
            <td>
                Brand Secondary Light
            </td>
            <td>
                Callout background, accordion "normal" headings
            </td>
        </tr>
        <tr>
            <td>
                <div class="swatch secondary-bg"></div>
            </td>
            <td>
                Brand Secondary
            </td>
            <td>
                Borders
            </td>
        </tr>
        <tr>
            <td>
                <div class="swatch secondary-dark-bg"></div>
            </td>
            <td>
                Brand Secondary Dark
            </td>
            <td>
                Only used in Carousel "Active" dot
            </td>
        </tr>
        
        <!-- <tr>
            <td>
                <div class="swatch tertiary-light-bg"></div>
            </td>
            <td>
                <em>Brand Tertiary Light</em>
            </td>
            <td>
                n/a
            </td>
        </tr> -->
        <tr>
            <td>
                <div class="swatch tertiary-bg"></div>
            </td>
            <td>
                Brand Tertiary
            </td>
            <td>
                Table headings, Learning Goals BG, hover effects on quiz
            </td>
        </tr>
        <tr>
            <td>
                <div class="swatch tertiary-dark-bg"></div>
            </td>
            <td>
                Brand Tertiary Dark
            </td>
            <td>
                Some borders and box shadows
            </td>
        </tr>
        <tr>
            <td>
                <div class="swatch complimentary-bg"></div>
            </td>
            <td>
                Brand Complementary
            </td>
            <td>
                Success Criteria BG
            </td>
        </tr>

        <tr>
            <td colspan="3" class="pt4 font-larger bold">
                Fonts
            </td>
        </tr>
        <tr>
            <td>
                <div class="swatch text-color-bg"></div>
            </td>
            <td>
                Text Color
            </td>
            <td>
                Default page text color
            </td>
        </tr>
        <tr>
            <td>
                <div class="swatch heading-underline-bg"></div>
            </td>
            <td>
                Heading Underline
            </td>
            <td>
                Also used in navbar. Could this replace Brand Secondary Dark?
            </td>
        </tr>

        <tr>
            <td colspan="3" class="pt4">
                <span class="font-larger bold">Alerts</span><br/>
                <p><em>These are not fully explored, as we don't yet have many components that require them.</em></p>
                <p>The idea is to establish generic alert states that have a flexible enough
                   palette to work against most backdrops. (Examples: <a href="https://getbootstrap.com/docs/4.1/components/alerts/#examples">Bootstrap</a>, <a href="https://www.getpapercss.com/docs/components/alerts/">PaperCSS</a>, <a href="https://www.uptowncss.com/#alerts">UptownCSS</a>).</p>
                    
            </td>
        </tr>
        <tr>
            <td>
                <div class="swatch success-bg"></div>
            </td>
            <td>
                Success
            </td>
            <td>
                <i class="fa fa-check fa-2x text-success" aria-hidden="true"></i>, Confirmations
            </td>
        </tr>
        <tr>
            <td>
                <div class="swatch warning-bg"></div>
            </td>
            <td>
                Warning
            </td>
            <td>
                Alerts e.g.

                <div style="display: inline-block" class="warning-bg text-warning px2 py1">
                    <i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i>
                    Warning: This page requires Javascript
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="swatch danger-bg"></div>
            </td>
            <td>
                Danger
            </td>
            <td>
                <i class="fa fa-times fa-2x text-danger" aria-hidden="true"></i>, Errors
            </td>
        </tr>

        <tr>
            <td colspan="3" class="pt4 font-larger bold">
                Other
            </td>
        </tr>
        <tr>
            <td>
                <div class="swatch outline-bg"></div>
            </td>
            <td>
                Outline/Focus state
            </td>
            <td>
                
            </td>
        </tr>
    </table>
</div>