---
{
  "result": {
    "title": "Table",
    "components": [
# All 3 table versions in this file        
      {
        "uuid": "00ef1a53-b7ec-4c11-9554-43bbd6d44935",
        "uuidClean": "00ef1a53_b7ec_4c11_9554_43bbd6d44935",
        "type": "table",
        "caption": "Top Row is Headers",
        "headers": "TOP_AND_LEFT",
        "freezeLeft": true,
# Headers top and left with left pane frozen        
        "rows": [
        {
            "columns": [
                {
                    "type": "string",
                    "field": "Type of polynomial"
                },
                {
                    "type": "string",
                    "field": "Number of terms"
                },
                {
                    "type": "string",
                    "field": "Examples"
                },
                {
                    "type": "string",
                    "field": "Some"
                },
                    {
                    "type": "string",
                    "field": "extra"
                },
                {
                    "type": "string",
                    "field": "content"
                },
                {
                    "type": "string",
                    "field": "for"
                },
                {
                    "type": "string",
                    "field": "testing"
                }
            ]
        },
        {
            "columns": [
                {
                    "type": "string",
                    "field": "Constant next word"
                },
                {
                    "type": "string",
                    "field": "1 (no variable)"
                },
                {
                    "type": "string",
                    "field": "<p>\\(5\\)</p><p>\\(-1.2\\)</p><p>\\(\\pi\\)</p>"
                },
                {
                    "type": "string",
                    "field": "Some extra content"
                },
                    {
                    "type": "string",
                    "field": "to make the table"
                },
                {
                    "type": "string",
                    "field": "wider."
                },
                {
                    "type": "string",
                    "field": "Should be interesting"
                },
                {
                    "type": "string",
                    "field": "dontcha think?"
                }
            ]
        },
        {
            "columns": [
                {
                    "type": "string",
                    "field": "Monomial"
                },
                {
                    "type": "string",
                    "field": "1"
                },
                {
                    "type": "string",
                    "field": "<p>\\(x\\)</p><p>\\(-24m^2\\)</p><p>\\(\\frac{1}{2}b\\)</p>"
                },
                {
                    "type": "string",
                    "field": "Some extra content"
                },
                    {
                    "type": "string",
                    "field": "to make the table"
                },
                {
                    "type": "string",
                    "field": "wider."
                },
                {
                    "type": "string",
                    "field": "Should be interesting"
                },
                {
                    "type": "string",
                    "field": "dontcha think?"
                }
            ]
        },
        {
            "columns": [
                {
                    "type": "string",
                    "field": "BinomialBinomial"
                },
                {
                    "type": "string",
                    "field": "2"
                },
                {
                    "type": "string",
                    "field": "<p>Praesent id finibus odio, in rutrum lectus. Praesent feugiat nisi erat, eu posuere enim ullamcorper at. Suspendisse nibh tortor, cursus vitae sem eu, scelerisque dictum nunc. In at nisl at tortor suscipit posuere. Maecenas hendrerit sed ipsum a iaculis.</p>"
                },
                {
                    "type": "string",
                    "field": "Some extra content"
                },
                    {
                    "type": "string",
                    "field": "to make the table"
                },
                {
                    "type": "string",
                    "field": "wider."
                },
                {
                    "type": "string",
                    "field": "Should be interesting"
                },
                {
                    "type": "string",
                    "field": "dontcha think?"
                }
            ]
        },
        {
            "columns": [
                {
                    "type": "string",
                    "field": "Trinomial"
                },
                {
                    "type": "string",
                    "field": "3"
                },
                {
                    "type": "string",
                    "field": "<p>\\(3x^2 - x + 5\\)</p><p>\\(a^2 - b + 6\\)</p>"
                },
                {
                    "type": "string",
                    "field": "Some extra content"
                },
                    {
                    "type": "string",
                    "field": "to make the table"
                },
                {
                    "type": "string",
                    "field": "wider."
                },
                {
                    "type": "string",
                    "field": "Should be interesting"
                },
                {
                    "type": "string",
                    "field": "dontcha think?"
                }
             ]
           }
         ]
        },
        {
        "uuid": "00ef1a53-b7ec-4c11-9554-43bbd6d44936",
        "uuidClean": "00ef1a53_b7ec_4c11_9554_43bbd6d44936",
        "type": "table",
        "caption": "Top Row is Headers",
        "headers": "TOP_AND_LEFT",
        "freezeLeft": false,
# Headers top and left without left pane frozen 
        "rows": [
        {
            "columns": [
                {
                    "type": "string",
                    "field": "Type of polynomial"
                },
                {
                    "type": "string",
                    "field": "Number of terms"
                },
                {
                    "type": "string",
                    "field": "Examples"
                },
                {
                    "type": "string",
                    "field": "Some"
                },
                    {
                    "type": "string",
                    "field": "extra"
                },
                {
                    "type": "string",
                    "field": "content"
                },
                {
                    "type": "string",
                    "field": "for"
                },
                {
                    "type": "string",
                    "field": "testing"
                }
            ]
        },
        {
            "columns": [
                {
                    "type": "string",
                    "field": "Constant next word"
                },
                {
                    "type": "string",
                    "field": "1 (no variable)"
                },
                {
                    "type": "string",
                    "field": "<p>\\(5\\)</p><p>\\(-1.2\\)</p><p>\\(\\pi\\)</p>"
                },
                {
                    "type": "string",
                    "field": "Some extra content"
                },
                    {
                    "type": "string",
                    "field": "to make the table"
                },
                {
                    "type": "string",
                    "field": "wider."
                },
                {
                    "type": "string",
                    "field": "Should be interesting"
                },
                {
                    "type": "string",
                    "field": "dontcha think?"
                }
            ]
        },
        {
            "columns": [
                {
                    "type": "string",
                    "field": "Monomial"
                },
                {
                    "type": "string",
                    "field": "1"
                },
                {
                    "type": "string",
                    "field": "<p>\\(x\\)</p><p>\\(-24m^2\\)</p><p>\\(\\frac{1}{2}b\\)</p>"
                },
                {
                    "type": "string",
                    "field": "Some extra content"
                },
                    {
                    "type": "string",
                    "field": "to make the table"
                },
                {
                    "type": "string",
                    "field": "wider."
                },
                {
                    "type": "string",
                    "field": "Should be interesting"
                },
                {
                    "type": "string",
                    "field": "dontcha think?"
                }
            ]
        },
        {
            "columns": [
                {
                    "type": "string",
                    "field": "BinomialBinomial"
                },
                {
                    "type": "string",
                    "field": "2"
                },
                {
                    "type": "string",
                    "field": "<p>Praesent id finibus odio, in rutrum lectus. Praesent feugiat nisi erat, eu posuere enim ullamcorper at. Suspendisse nibh tortor, cursus vitae sem eu, scelerisque dictum nunc. In at nisl at tortor suscipit posuere. Maecenas hendrerit sed ipsum a iaculis.</p>"
                },
                {
                    "type": "string",
                    "field": "Some extra content"
                },
                    {
                    "type": "string",
                    "field": "to make the table"
                },
                {
                    "type": "string",
                    "field": "wider."
                },
                {
                    "type": "string",
                    "field": "Should be interesting"
                },
                {
                    "type": "string",
                    "field": "dontcha think?"
                }
            ]
        },
        {
            "columns": [
                {
                    "type": "string",
                    "field": "Trinomial"
                },
                {
                    "type": "string",
                    "field": "3"
                },
                {
                    "type": "string",
                    "field": "<p>\\(3x^2 - x + 5\\)</p><p>\\(a^2 - b + 6\\)</p>"
                },
                {
                    "type": "string",
                    "field": "Some extra content"
                },
                    {
                    "type": "string",
                    "field": "to make the table"
                },
                {
                    "type": "string",
                    "field": "wider."
                },
                {
                    "type": "string",
                    "field": "Should be interesting"
                },
                {
                    "type": "string",
                    "field": "dontcha think?"
                }
            ]
          }
        ]
        },
        {
        "uuid": "00ef1a53-b7ec-4c11-9554-43bbd6d44937",
        "uuidClean": "00ef1a53_b7ec_4c11_9554_43bbd6d44937",
        "type": "table",
        "caption": "Top Row is Headers",
        "headers": "TOP",
        "freezeLeft": false,
# Headers top only
        "rows": [
        {
            "columns": [
                {
                    "type": "string",
                    "field": "Type of polynomial"
                },
                {
                    "type": "string",
                    "field": "Number of terms"
                },
                {
                    "type": "string",
                    "field": "Examples"
                },
                {
                    "type": "string",
                    "field": "Some"
                },
                    {
                    "type": "string",
                    "field": "extra"
                },
                {
                    "type": "string",
                    "field": "content"
                },
                {
                    "type": "string",
                    "field": "for"
                },
                {
                    "type": "string",
                    "field": "testing"
                }
            ]
        },
        {
            "columns": [
                {
                    "type": "string",
                    "field": "Constant next word"
                },
                {
                    "type": "string",
                    "field": "1 (no variable)"
                },
                {
                    "type": "string",
                    "field": "<p>\\(5\\)</p><p>\\(-1.2\\)</p><p>\\(\\pi\\)</p>"
                },
                {
                    "type": "string",
                    "field": "Some extra content"
                },
                    {
                    "type": "string",
                    "field": "to make the table"
                },
                {
                    "type": "string",
                    "field": "wider."
                },
                {
                    "type": "string",
                    "field": "Should be interesting"
                },
                {
                    "type": "string",
                    "field": "dontcha think?"
                }
            ]
        },
        {
            "columns": [
                {
                    "type": "string",
                    "field": "Monomial"
                },
                {
                    "type": "string",
                    "field": "1"
                },
                {
                    "type": "string",
                    "field": "<p>\\(x\\)</p><p>\\(-24m^2\\)</p><p>\\(\\frac{1}{2}b\\)</p>"
                },
                {
                    "type": "string",
                    "field": "Some extra content"
                },
                    {
                    "type": "string",
                    "field": "to make the table"
                },
                {
                    "type": "string",
                    "field": "wider."
                },
                {
                    "type": "string",
                    "field": "Should be interesting"
                },
                {
                    "type": "string",
                    "field": "dontcha think?"
                }
            ]
        },
        {
            "columns": [
                {
                    "type": "string",
                    "field": "BinomialBinomial"
                },
                {
                    "type": "string",
                    "field": "2"
                },
                {
                    "type": "string",
                    "field": "<p>Praesent id finibus odio, in rutrum lectus. Praesent feugiat nisi erat, eu posuere enim ullamcorper at. Suspendisse nibh tortor, cursus vitae sem eu, scelerisque dictum nunc. In at nisl at tortor suscipit posuere. Maecenas hendrerit sed ipsum a iaculis.</p>"
                },
                {
                    "type": "string",
                    "field": "Some extra content"
                },
                    {
                    "type": "string",
                    "field": "to make the table"
                },
                {
                    "type": "string",
                    "field": "wider."
                },
                {
                    "type": "string",
                    "field": "Should be interesting"
                },
                {
                    "type": "string",
                    "field": "dontcha think?"
                }
            ]
        },
        {
            "columns": [
                {
                    "type": "string",
                    "field": "Trinomial"
                },
                {
                    "type": "string",
                    "field": "3"
                },
                {
                    "type": "string",
                    "field": "<p>\\(3x^2 - x + 5\\)</p><p>\\(a^2 - b + 6\\)</p>"
                },
                {
                    "type": "string",
                    "field": "Some extra content"
                },
                    {
                    "type": "string",
                    "field": "to make the table"
                },
                {
                    "type": "string",
                    "field": "wider."
                },
                {
                    "type": "string",
                    "field": "Should be interesting"
                },
                {
                    "type": "string",
                    "field": "dontcha think?"
                }
            ]
          }
        ]
      }
    ]
  },
  "layout": "amp-layout.njk",
  "permalink": "demo-amp-table.html"
}
---
<h1>{{result.title}} {{projectConfig.version}} - {{projectConfig.date}}</h1>
{% include amp-table.html data:result.components[0] -%}
<hr />
{% include amp-table.html data:result.components[1] -%}
<hr />
{% include amp-table.html data:result.components[2] -%}