---
{
    "result": {
        "__typename": "Course",
        "id": "6318a3c78f3a72b1dc77a9ee",
        "name": "AMP Testing",
        "courseCode": null,
        "language": null,
        "children": [
            {
                "__typename": "CourseStructureContainer",
                "id": "6318a3c78f3a72b1dc77a9ef",
                "name": "",
                "type": "unit",
                "componentContainers": [],
                "children": [
                    {
                        "__typename": "CourseStructureContainer",
                        "id": "6318a3c78f3a72b1dc77a9f0",
                        "name": "AMP Lesson",
                        "type": "lesson",
                        "componentContainers": [
                            {
                                "__typename": "ComponentContainer",
                                "id": "6318a3c78f3a72b1dc77a9f1",
                                "sections": [
                                    {
                                        "id": "6318a3c78f3a72b1dc77a9f2",
                                        "type": "NONLEARNING",
                                        "components": [
                                            {
                                                "componentName": "Text",
                                                "props": {
                                                    "text": "default text"
                                                },
                                                "position": "b"
                                            }
                                        ]
                                    },
                                    {
                                        "id": "6318a3c78f3a72b1dc77a9f4",
                                        "type": "LEARNING",
                                        "components": [
                                          {
                                            "componentName": "InfoBox",
                                            "props": {
                                                "infoBoxState": {
                                                    "infoBoxIcon": "Definition",
                                                    "infoBoxLabel": "This is a label for InfoBox",
                                                    "infoBoxHeader": {
                                                        "heading": "This is an InfoBox header",
                                                        "headingLevel": "h3"
                                                    },
                                                    "body": "<p>This is a sentence with <strong>bold text</strong>.</p><p>This is a sentence with <u>underlined text</u>.</p><p>This is a sentence with <em>italicized text</em>.</p><p><strong><em>And this</em></strong> <em><u><span>sentence has a</span></u></em> <strong><u><span>combination of</span></u></strong> <strong><em><u><span>all three formats</span></u></em></strong>.</p>"
                                                }
                                            },
                                            "position": "p"
                                          },
                                          {
                                            "componentName": "InfoBox",
                                            "props": {
                                                "infoBoxState": {
                                                    "infoBoxIcon": "Challenge",
                                                    "infoBoxLabel": "This is a label for InfoBox",
                                                    "infoBoxHeader": {
                                                        "heading": "This is an InfoBox header",
                                                        "headingLevel": "h3"
                                                    },
                                                    "body": "<p>This is a sentence with <strong>bold text</strong>.</p><p>This is a sentence with <u>underlined text</u>.</p><p>This is a sentence with <em>italicized text</em>.</p><p><strong><em>And this</em></strong> <em><u><span>sentence has a</span></u></em> <strong><u><span>combination of</span></u></strong> <strong><em><u><span>all three formats</span></u></em></strong>.</p>"
                                                }
                                            },
                                            "position": "p"
                                          },
                                          {
                                            "componentName": "InfoBox",
                                            "props": {
                                                "infoBoxState": {
                                                    "infoBoxIcon": "Notebook",
                                                    "infoBoxLabel": "This is a label for InfoBox",
                                                    "infoBoxHeader": {
                                                        "heading": "This is an InfoBox header",
                                                        "headingLevel": "h3"
                                                    },
                                                    "body": "<p>This is a sentence with <strong>bold text</strong>.</p><p>This is a sentence with <u>underlined text</u>.</p><p>This is a sentence with <em>italicized text</em>.</p><p><strong><em>And this</em></strong> <em><u><span>sentence has a</span></u></em> <strong><u><span>combination of</span></u></strong> <strong><em><u><span>all three formats</span></u></em></strong>.</p>"
                                                }
                                            },
                                            "position": "p"
                                          },
                                        ]
                                    }
                                ]
                            }
                        ],
                        "children": []
                    }
                ]
            }
        ]
    }, "layout": "amp-layout.njk", "permalink": "demo-amp-infobox.html"

}
---

<h1>InfoBox Component {{projectConfig.version}} - {{projectConfig.date}}</h1>

{%- assign components = result.children[0].children[0].componentContainers[0].sections[1].components -%}

{% for infobox in components %}
    {% include amp-infobox.html data:infobox.props.infoBoxState -%}

    <script type="text/javascript">
        console.log("Dumping data object");
        console.log({{ infobox.props.infoBoxState | json }});
      </script>
{% endfor %}
