---
{
    "result": {
        "title": "Tabs",
        "components": [
            {
                "uuid": "11ef1a53-b7ec-4c11-9554-43bbd6d44db1",
                "uuidClean": "11ef1a53_b7ec_4c11_9554_43bbd6d44db1",
                "type": "tabs",
                "tabs": [
                    {
                        "uuid": "12ef1a53-b7ec-4c11-9554-43bbd6d44db1",
                        "uuidClean": "12ef1a53_b7ec_4c11_9554_43bbd6d44db1",
                        "type": "tab",
                        "tabLabel": "Just Text",
                        "components": [
                            {
                                "uuid": "13ef1a53-b7ec-4c11-9554-43bbd6d44db1",
                                "uuidClean": "13ef1a53_b7ec_4c11_9554_43bbd6d44db1",
                                "type": "formatted_text",
                                "heading": null,
                                "body": "
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ligula ex, auctor eget lacinia hendrerit, fermentum vitae felis. Nulla diam tellus, sagittis vel faucibus vitae, dictum non enim. Sed ut justo leo. Suspendisse potenti. Sed porttitor diam quis turpis elementum, eget elementum ante ornare. Suspendisse tempus malesuada eros, quis sagittis turpis. In hac habitasse platea dictumst. Fusce dapibus eros in tellus vehicula, non sollicitudin elit sodales. Suspendisse potenti. Proin vulputate nisl egestas velit vulputate feugiat. Praesent auctor magna at facilisis porta. In id placerat leo. <a href=\"http://www.ilc.org\">Visit ILC.org</a>. Quisque porttitor tellus neque, at dapibus massa ullamcorper ac.
</p>

<p>
    Praesent id finibus odio, in rutrum lectus. Praesent feugiat nisi erat, eu posuere enim ullamcorper at. Suspendisse nibh tortor, cursus vitae sem eu, scelerisque dictum nunc. In at nisl at tortor suscipit posuere. Maecenas hendrerit sed ipsum a iaculis. Aliquam vitae orci nec mauris pharetra mattis at in lacus. In ut lorem quis magna fringilla bibendum non eu sem. Etiam massa erat, blandit a interdum vitae, varius a dolor. In a magna eget odio tincidunt rhoncus nec eget sapien. In eu facilisis tortor, id sodales felis. Curabitur facilisis, nisi a condimentum rutrum, ex erat eleifend mi, in feugiat ex mi ac nibh. Sed ut lorem iaculis, facilisis est in, venenatis risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan massa et nibh elementum posuere eget id ipsum.
</p>

<p>
    Curabitur dignissim lacinia dolor non tincidunt. Nam vulputate rutrum consectetur. Aenean efficitur convallis nunc, in interdum mauris commodo venenatis. Ut quis elementum ante. Nullam ac eros vel mi pellentesque mattis vitae sed mauris. Quisque ligula nisi, imperdiet quis volutpat venenatis, consequat at urna. Praesent maximus mollis mollis.
</p>"
                            }
                        ]
                    },
                    {
                        "uuid": "14ef1a53-b7ec-4c11-9554-43bbd6d44db1",
                        "uuidClean": "14ef1a53_b7ec_4c11_9554_43bbd6d44db1",
                        "type": "tab",
                        "tabLabel": "Image and Text",
                        "components": [
                            # image
                            {
                                "uuid": "15ef1a53-b7ec-4c11-9554-43bbd6d44db1",
                                "uuidClean": "15ef1a53_b7ec_4c11_9554_43bbd6d44db1",
                                "type": "image",
                                "width": 300,
                                "height": 200,
                                "url": "https://assets.contenta.tvo.org/prod/public/2020-03/kitten.jpg",
                                "altText": "A kitten, who is adorable.",
                                "caption": null
                            },
                            # formatted text with heading
                            {
                                "uuid": "16ef1a53-b7ec-4c11-9554-43bbd6d44db1",
                                "uuidClean": "16ef1a53_b7ec_4c11_9554_43bbd6d44db1",
                                "type": "formatted_text",
                                "heading": {
                                    "processed": "Formatted text with a heading!",
                                    "headingLevel": "h2"
                                },
                                "body": "
<p>
    Morbi vestibulum feugiat libero vel venenatis. Aliquam nec condimentum eros. Curabitur commodo imperdiet nisl sit amet rutrum. Cras eget bibendum magna. Proin gravida hendrerit ipsum, quis volutpat sapien faucibus vel. Donec porta non neque quis malesuada. Suspendisse fringilla nisl sed mollis placerat. Pellentesque urna ipsum, fermentum at purus et, condimentum condimentum odio. Nam luctus odio mauris, ut condimentum sapien accumsan eu. Donec vulputate erat et tincidunt hendrerit. Etiam sagittis molestie volutpat. Nulla tincidunt, arcu non lobortis ullamcorper, felis orci sollicitudin nisl, nec semper ipsum nibh et mi. Donec lobortis ipsum vitae ligula congue vulputate.
</p>

<p>
    Quisque nec elementum mi. Vivamus et ex imperdiet urna porttitor maximus. In vitae <a href=\"https://www.tvo.org\">TV Ontario</a>, nec rhoncus tortor. Donec non fringilla nisi. Nunc tempus, urna sed tempus placerat, nisl nisi ornare est, non sagittis est justo vel eros. Maecenas quam ligula, suscipit sed facilisis vitae, pretium ut neque. Nulla quis tristique mauris, in viverra lacus. Aenean ut ornare purus, nec finibus dui. Pellentesque ut ligula at tortor ornare vestibulum. Proin vitae justo imperdiet, ultrices dui vitae, sagittis nunc. Nunc fringilla sodales lacus a gravida. 
</p>

<p>
    Quisque lorem dolor, maximus nec rutrum et, fermentum a enim. Praesent non vulputate dolor, at congue odio. Morbi tristique ac arcu non convallis. Curabitur id blandit tortor. Maecenas non nisl arcu. Nullam placerat sed felis a dignissim. <a href=\"https://google.ca\">Example over at Google</a>, congue dolor. Donec mauris sapien, viverra ac consequat eu, elementum et nulla. Praesent laoreet libero et justo ornare vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas aliquam nulla non massa dictum, sit amet feugiat odio lacinia. Sed vestibulum risus vitae leo mollis congue ut ut velit.
</p>"
                            }
                        ]
                    },
                    {
                        "uuid": "17ef1a53-b7ec-4c11-9554-43bbd6d44db1",
                        "uuidClean": "17ef1a53_b7ec_4c11_9554_43bbd6d44db1",
                        "type": "tab",
                        "tabLabel": "Videos",
                        "components": [
                            {
                                "uuid": "18ef1a53-b7ec-4c11-9554-43bbd6d44db1",
                                "uuidClean": "18ef1a53_b7ec_4c11_9554_43bbd6d44db1",
                                "type": "formatted_text",
                                "heading": null,
                                "body": "
<p>
A youtube video ...
</p>"
                            },
                            {
                                "uuid": "19ef1a53-b7ec-4c11-9554-43bbd6d44db1",
                                "uuidClean": "19ef1a53_b7ec_4c11_9554_43bbd6d44db1",
                                "type": "youtube_video",
                                "videoName": "Creating and Sharing a Whiteboard In TVO Mathify",
                                "videoUrl": "https://www.youtube.com/watch?v=haw9ZGpM0ws",
                                "thumbnailWidth": 480,
                                "thumbnailHeight": 360,
                                "thumbnailUrl": "https://assets.contenta-qa.tvo.org/qa/public/oembed_thumbnails/FmRnPinmwV1xtOC6xV8y3ZflwlinaUYgJkpQiOf6J1c.jpg"
                            },
                            {
                                "uuid": "20ef1a53-b7ec-4c11-9554-43bbd6d44db1",
                                "uuidClean": "20ef1a53_b7ec_4c11_9554_43bbd6d44db1",
                                "type": "formatted_text",
                                "heading": null,
                                "body": "
<p>
    ... and a brightcove video ...
</p>"
                            },
                            {
                                "uuid": "21ef1a53-b7ec-4c11-9554-43bbd6d44db1",
                                "uuidClean": "21ef1a53_b7ec_4c11_9554_43bbd6d44db1",
                                "type": "brightcove_video",
                                "brightcoveDataVideoId": "ref:2531990",
                                "brightcoveDataPlayer": "mLPSmEWSk"
                            }
                        ]
                    }
                ]
            }
        ]
    },
    "layout": "amp-layout.njk",
    "permalink": "demo-amp-tabs.html"
}
---
<h1>{{result.title}} {{projectConfig.version}} - {{projectConfig.date}}</h1>

<p>
    Below is an example of a Tabs interface. When the Tabs interface is focused, select a Tab using the <kbd>&larr;</kbd> or <kbd>&rarr;</kbd> keys. To select a tab to display, press <kbd>Enter</kbd>.
</p>

{% include amp-tabs.html data:result.components[0] %}