---
{
  "result": {
    "title": "Math Formulas",
    "lessonContent": []
  },
  "layout": "amp-layout.njk",
  "permalink": "demo-amp-mathml.html"
}
---
<!-- This example doesn't really use the Mock object above, because Mathml is not parsed via an include like other Content. Instead all HTML content is parsed through a "shortcode" at the end of the process, within .eleventy.js -->
<h1>{{result.title}} {{projectConfig.version}} - {{projectConfig.date}}</h1>

<h2>Inline example</h2>

<p>Marie has provided a ratio in colon form that matches her thinking. However, it should be written as \(6:12\) because this is the order in which the quantities were asked in the question.</p>

<p>\(\left(x^{2}-x+3\right)+8\left(x^{2}+5 y^{2}\right)-5 y^{2}\)</p>
<hr/>

<h2>"Display: block" example</h2>

\[\binom{n}{k} = \frac{n!}{k!(n-k)!}\]
<br><br>
More text
<br><br>
\[\left(2 a^{2}-10 a+8\right)+3\left(a^{2}-5 a\right)\]