---
{
    "result": {
        "uuid": "11ef1a53-b7ec-4c11-9554-43bbd6d44db1",
        "uuidClean": "11ef1a53_b7ec_4c11_9554_43bbd6d44db1",
        "type": "lesson",
        "title": "AMP Showcase",
        "lessonPaths": [
            {
                "courseUUID": "21ef1a53-b7ec-4c11-9554-43bbd6d44dy4",
                "courseName": "Grade 9 Math",
                "courseCode": "MPM1D",
                "unitNumber": "2",
                "lessonNumber": "4"
            }
        ],
        "learningGoals": [
            "determine whether two quantities are in a proportional relationship",
            "make comparisons between two quantities using ratio, rate and proportions",
            "solve problems involving proportions",
            "communicate information using the relationships of percents, fractions, and decimals"
        ],
        "successCriteria": [
            "identify similarities and differences between ratio and rate",
            "use rate or ratio to represent situations",
            "determine unit rates associated with ratios of fractions",
            "solve for the unknown value in a proportion",
            "use mathematical vocabulary and notation to describe proportional relationships"
        ],
        "sections": [
            {
                "uuid": "11ef1a53-b7ec-4c11-9554-43bbd6d44db2",
                "uuidClean": "11ef1a53_b7ec_4c11_9554_43bbd6d44db2",
                "type": "section",
                "sectionType": "Minds On",
                "topics": [
                    {
                        "uuid": "11ef1a53-b7ec-4c11-9554-43bbd6d44db3",
                        "uuidClean": "11ef1a53_b7ec_4c11_9554_43bbd6d44db3",
                        "type": "topic",
                        "heading": {
                            "processed": "Test 4",
                            "headingLevel": "h2"
                        },
                        "components": [
                            {
                                "componentName": "Text",
                                "props": {
                                    "body": "<p>If we compare th</p>"
                                },
                            }
                        ]
                    }
                ]
            },
            {
                "uuid": "11ef1a53-b7ec-4c11-9554-43bbd6d44d12",
                "uuidClean": "11ef1a53_b7ec_4c11_9554_43bbd6d44d12",
                "type": "section",
                "sectionType": "Action",
                "topics": [
                    {
                        "uuid": "11ef1a53-b7ec-4c11-9554-43bbd6d44d13",
                        "uuidClean": "11ef1a53_b7ec_4c11_9554_43bbd6d44d13",
                        "type": "topic",
                        "heading": {
                            "processed": "Equivalent Ratios",
                            "headingLevel": "h2"
                        },
                        "components": [
                        ]
                    }
                ]
            },
            {
                "uuid": "11ef1a53-b7ec-4c11-9554-43bbd6d44d19",
                "uuidClean": "11ef1a53_b7ec_4c11_9554_43bbd6d44d19",
                "type": "section",
                "sectionType": "Consolidation",
                "topics": [
                    {
                        "uuid": "11ef1a53-b7ec-4c11-9554-43bbd6d44d20",
                        "uuidClean": "11ef1a53_b7ec_4c11_9554_43bbd6d44d20",
                        "type": "topic",
                        "heading": {
                            "processed": "Mindset Anticipation Guide",
                            "headingLevel": "h2"
                        },
                        "components": [
                        ]
                    },
                    {
                        "uuid": "11ef1a53-b7ec-4c11-9554-43bbd6d44d65",
                        "uuidClean": "11ef1a53_b7ec_4c11_9554_43bbd6d44d65",
                        "type": "topic",
                        "heading": {
                            "processed": "Coming Soon",
                            "headingLevel": "h2"
                        },
                        "components": [
                        ]
                    }
                ]
            }
        ]
    },
    "layout": "amp-layout.njk",
    "permalink": "showcase-amp.html"
}
---

{%- for section in result.sections -%}
  {% include amp-section.html section:section %}
{%- endfor -%}