---
{
    "result": {
        "uuid": "11ef1a53-b7ec-4c11-9554-43bbd6d44db1",
        "uuidClean": "11ef1a53_b7ec_4c11_9554_43bbd6d44db1",
        "type": "lesson",
        "title": "AMP Showcase",
        "lessonPaths": [
            {
                "courseUUID": "21ef1a53-b7ec-4c11-9554-43bbd6d44dy4",
                "courseName": "Grade 9 Math",
                "courseCode": "MPM1D",
                "unitNumber": "2",
                "lessonNumber": "4"
            }
        ],
        "learningGoals": [
            "determine whether two quantities are in a proportional relationship",
            "make comparisons between two quantities using ratio, rate and proportions",
            "solve problems involving proportions",
            "communicate information using the relationships of percents, fractions, and decimals"
        ],
        "successCriteria": [
            "identify similarities and differences between ratio and rate",
            "use rate or ratio to represent situations",
            "determine unit rates associated with ratios of fractions",
            "solve for the unknown value in a proportion",
            "use mathematical vocabulary and notation to describe proportional relationships"
        ],
        "sections": [
            {
                "uuid": "11ef1a53-b7ec-4c11-9554-43bbd6d44db2",
                "uuidClean": "11ef1a53_b7ec_4c11_9554_43bbd6d44db2",
                "type": "section",
                "sectionType": "Minds On",
                "topics": [
                    {
                        "uuid": "11ef1a53-b7ec-4c11-9554-43bbd6d44db3",
                        "uuidClean": "11ef1a53_b7ec_4c11_9554_43bbd6d44db3",
                        "type": "topic",
                        "heading": {
                            "processed": "What is a ratio?",
                            "headingLevel": "h2"
                        },
                        "components": [
                            {
                                "componentName": "Text",
                                "props": {
                                    "body": "<p>The video examines rate, ratio, and proportion and shows how these math relationships play a role in photography.</p>\n"
                                },
                            },
                            {
                                "componentName": "Video",
                                "componentProps": {
                                    "type": "brightcove",
                                    "videoId": "ref:2531990",
                                    "caption": null,
                                    "credit": null,
                                    "transcript": null,
                                    "body": "<p><br></p>"
                                }
                            },
                            {
                                "componentName": "Text",
                                "props": {
                                    "body": "<p>A <strong>ratio</strong> is a comparison of two or more things with the same units. Consider this photo of children and adult skiers.</p>\n"
                                }
                            },
                            {
                                "componentName": "Image",
                                "props": {
                                    "imgSize": "default",
                                    "uploadedImg": "https://assets.contenta.tvo.org/prod/public/2020-04/01.02.03_Family.jpg",
                                    "imgLink": null,
                                    "alt": "A family, of two adults and three children, playing in the snow",
                                    "longDesc": "",
                                    "caption": "A family of two adults and three children",
                                    "credit": null
                                }
                            },	
                            {
                                "componentName": "Text",
                                "props": {
                                    "body": "<p>If we compare the number of adults to the number of children, we would say the ratio of adults to children is <strong>two to three</strong> or 2 adults for every 3 children (word form).</p>\n<p>We can also write this as adults : children = \\(2:3\\) (colon form) or it can be written \\(\\frac{2}{3}\\) (fraction form).</p>\n<p>The order in which we write the numbers depends on the order in which we are describing the quantities.</p>\n"
                                }
                            },
                        ]
                    }
                ]
            },
            {
                "uuid": "11ef1a53-b7ec-4c11-9554-43bbd6d44d12",
                "uuidClean": "11ef1a53_b7ec_4c11_9554_43bbd6d44d12",
                "type": "section",
                "sectionType": "Action",
                "topics": [
                    {
                        "uuid": "11ef1a53-b7ec-4c11-9554-43bbd6d44d13",
                        "uuidClean": "11ef1a53_b7ec_4c11_9554_43bbd6d44d13",
                        "type": "topic",
                        "heading": {
                            "processed": "Equivalent Ratios",
                            "headingLevel": "h2"
                        },
                        "components": [
                            {
                                "componentName": "Text",
                                "props": {
                                    "body": "<p>Let’s review reducing fractions, which is one way to do so.</p>\n"
                                }
                            },
                        ]
                    }
                ]
            },
            {
                "uuid": "11ef1a53-b7ec-4c11-9554-43bbd6d44d19",
                "uuidClean": "11ef1a53_b7ec_4c11_9554_43bbd6d44d19",
                "type": "section",
                "sectionType": "Consolidation",
                "topics": [
                    {
                        "uuid": "11ef1a53-b7ec-4c11-9554-43bbd6d44d20",
                        "uuidClean": "11ef1a53_b7ec_4c11_9554_43bbd6d44d20",
                        "type": "topic",
                        "heading": {
                            "processed": "Mindset Anticipation Guide",
                            "headingLevel": "h2"
                        },
                        "components": [
                        ]
                    },
                    {
                        "uuid": "11ef1a53-b7ec-4c11-9554-43bbd6d44d65",
                        "uuidClean": "11ef1a53_b7ec_4c11_9554_43bbd6d44d65",
                        "type": "topic",
                        "heading": {
                            "processed": "Coming Soon",
                            "headingLevel": "h2"
                        },
                        "components": [
                        ]
                    }
                ]
            }
        ]
    },
    "layout": "amp-layout.njk",
    "permalink": "showcase-amp.html"
}
---

{%- for section in result.sections -%}
  {% include amp-section.html section:section %}
{%- endfor -%}