.wrapper.tabs {
    // Brightcove videos inside tabs are too wide to fit on small
    // viewports with the default padding. This reduces the outer
    // padding between the tab border and the viewport to 5px to
    // alleviate the problem.
    @media(max-width: 380px) {
        padding: 0 5px;
    }

    .tabs {
        &[role=tablist] {
            /* Styles for the flex layout based tabs */
            display: flex;
            flex-wrap: wrap;

            & [role=tab] {
                flex-grow: 1;
                text-align: center;
                border: 1px solid $border-color;
                border-left-width: 0;
                font-weight: 600;
                background-color: $tab-default-bg;

                &:first-child {
                    border-left-width: 1px;
                }

                &:hover {
                    color: inherit;
                    text-decoration: underline;
                }

                &[selected] {
                    background-color: $tab-active-bg;
                    border-bottom: none;
                    border-top: 5px solid $tab-active-border-top;
                    padding-top: 4px; // to account for the larger border shifting the text down
                    color: $tab-active-text;
                    text-decoration: underline;
                }

                // AMP's CSS diminishes the focus outline, so this 
                // re-applies our focus rule
                &[selected]:focus {
                    @include outline-focus;
                }
            }

            & [role=tabpanel] {
                display: none;
                width: 100%;
                order: 1;
                border-color: $border-color;
            }

            & [role=tab][selected]+[role=tabpanel] {
                display: block;
            }
        }

        // images and videos inside tabs have their own wrappers,
        // and they probably aren't .wrapper.inner, so this forces
        // them to behave as if they have the inner rule, so we dont
        // get "dobule padding" inside tab content.
        .wrapper {
            padding: 0;
        }
    }
}