.wrapper-class {
   padding: 1rem;
   border: 1px solid black;
   margin-top: 10px;
}
.rdw-option-active{
   background-color: #FFFFA7;
}

.callout_editor_class {
   color: #000000;
}

/* .rdw-editor-wrapper:focus {
  border: 3px solid blue;
} */

.rdw-option-wrapper:hover {
  border: 1px solid blue;
}
.rdw-editor-wrapper {
   border: 0px solid blue;

}

.public-DraftEditorPlaceholder-root {
   color: #000000;
}
.public-DraftEditorPlaceholder-hasFocus {
    color: #000000;
   /* font-weight: 600; */
}
.public-DraftStyleDefault-block {
   color: #000000;
}

.public-DraftStyleDefault-ltr {
   color: #000000;
}

.rdw-editor-main pre {
  background: #ffffff;
  border-radius: 3px;
  padding: 1px 10px;
}