.wrapper-class {
   padding: 1rem;
   border: 1px solid black;
   margin-top: 10px;
}
.rdw-option-active{
   background-color: #FFFFA7;
}

.callout_editor_class {
   color: #000000;
}

/* .rdw-editor-wrapper:focus {
  border: 3px solid blue;
} */

.rdw-option-wrapper:hover {
  border: 1px solid blue;
}
.rdw-editor-wrapper {
   border: 0px solid blue;

}

.public-DraftStyleDefault-block .public-DraftStyleDefault-ltr {
   color: #000000;
   font-weight: 500;
}