.wrapper-class {
   padding: 1rem;
   border: 1px solid black;
   margin-top: 10px;
}
.rdw-option-active{
   background-color: #FFFFA7;
}

.callout_editor_class {
   color: #000000;
}

.rdw-editor-toolbar {
  border: 1px solid purple;
}