---
{
    "layout": "amp-layout.njk", 
    "permalink": "demo-amp-infobox.html"
}
---

<h1>InfoBox Component {{projectConfig.version}} - {{projectConfig.date}}</h1>

{% for infobox in componentInfobox %}
    {% if infobox.name == "Infobox Component"  %}
        {%- assign components = infobox.componentContainer.sections[1].components -%}
        {% for infoboxComponent in components %}
            {% include amp-infobox.html data:infoboxComponent.props.infoBoxState -%}
        {% endfor %}
    {% endif %}
{% endfor %}

<!-- {%- assign components = result.children[0].children[0].componentContainers[0].sections[1].components -%}

{% for infobox in components %}
    {% include amp-infobox.html data:infobox.props.infoBoxState -%}
{% endfor %} -->
