---
{
  "result":
    {
      "__typename": "Course",
      "id": "6318a3c78f3a72b1dc77a9ee",
      "name": "AMP Testing",
      "courseCode": null,
      "language": null,
      "children":
        [
          {
            "__typename": "CourseStructureContainer",
            "id": "6318a3c78f3a72b1dc77a9ef",
            "name": "",
            "type": "unit",
            "componentContainers": [],
            "children":
              [
                {
                  "__typename": "CourseStructureContainer",
                  "id": "6318a3c78f3a72b1dc77a9f0",
                  "name": "AMP Lesson",
                  "type": "lesson",
                  "componentContainers":
                    [
                      {
                        "__typename": "ComponentContainer",
                        "id": "6318a3c78f3a72b1dc77a9f1",
                        "sections":
                          [
                            {
                              "id": "6318a3c78f3a72b1dc77a9f2",
                              "type": "NONLEARNING",
                              "components":
                                [
                                  {
                                    "componentName": "Text",
                                    "props": { "text": "default text" },
                                    "position": "b",
                                  },
                                ],
                            },
                            {
                              "id": "6318a3c78f3a72b1dc77a9f4",
                              "type": "LEARNING",
                              "components":
                                [
                                  {
                                    "componentName": "Tab",
                                    "props":
                                      {
                                        "layoutState":
                                          [
                                            {
                                              "type": "TAB",
                                              "id": "83c9445c-23d9-4ee9-8298-cf9f594f4c66",
                                              "title": "Image",
                                              "components":
                                                [
                                                  {
                                                    "componentName": "Image",
                                                    "componentProps":
                                                      {
                                                        "imgSize": "default",
                                                        "uploadedImg": "https://cdn.shopify.com/s/files/1/0023/1794/2820/files/Polkaroo_large.PNG?v=1556241987",
                                                        "imgLink": "https://www.tvo.org",
                                                        "alt": "Polkaroo standing with crossed arms",
                                                        "longDesc": "",
                                                        "caption": null,
                                                        "credit": null,
                                                      },
                                                  },
                                                ],
                                            },
                                            {
                                              "type": "TAB",
                                              "id": "d59a4b07-0466-4164-8ac3-7e7404b2f3d0",
                                              "title": "Video",
                                              "components":
                                                [
                                                  {
                                                    "componentName": "Video",
                                                    "componentProps":
                                                      {
                                                        "credit":
                                                          {
                                                            "blocks":
                                                              [
                                                                {
                                                                  "key": "fu9qm",
                                                                  "text": "",
                                                                  "type": "unstyled",
                                                                  "depth": 0,
                                                                  "inlineStyleRanges":
                                                                    [],
                                                                  "entityRanges":
                                                                    [],
                                                                  "data": {},
                                                                },
                                                              ],
                                                            "entityMap": {},
                                                          },
                                                      },
                                                  },
                                                  {
                                                    "componentName": "Video",
                                                    "componentProps":
                                                      {
                                                        "type": "youTube",
                                                        "videoId": "3m6d99GDARE",
                                                        "caption": null,
                                                        "credit": null,
                                                        "transcript": null,
                                                      },
                                                  },
                                                  {
                                                    "componentName": "Video",
                                                    "componentProps":
                                                      {
                                                        "type": "brightcove",
                                                        "videoId": "5967111782001",
                                                        "caption": null,
                                                        "credit": null,
                                                        "transcript":
                                                          {
                                                            "blocks":
                                                              [
                                                                {
                                                                  "key": "7m3m2",
                                                                  "text": "",
                                                                  "type": "unstyled",
                                                                  "depth": 0,
                                                                  "inlineStyleRanges":
                                                                    [],
                                                                  "entityRanges":
                                                                    [],
                                                                  "data": {},
                                                                },
                                                              ],
                                                            "entityMap": {},
                                                          },
                                                      },
                                                  },
                                                ],
                                            },
                                            {
                                              "id": "0e0e5cd2-3b4c-47fa-965f-7a06642b0321",
                                              "title": "Text",
                                              "placeholderTitle": "Tab 3",
                                              "components":
                                                [
                                                  {
                                                    "componentName": "Text",
                                                    "componentProps":
                                                      {
                                                        "body": "<p>This is <strong>BOLD</strong></p>"
                                                      },
                                                  },
                                                ],
                                            },
                                          ],
                                      },
                                    "position": "p",
                                  },
                                ],
                            },
                          ],
                      },
                    ],
                  "children": [],
                },
              ],
          },
        ],
    },

  "layout": "amp-layout.njk",
  "permalink": "demo-amp-tabs.html",
}
---

<h1>Tab Component {{projectConfig.version}} - {{projectConfig.date}}</h1>

{%- assign components = result.children[0].children[0].componentContainers[0].sections[1].components -%}
{% for tab in components %} 
	{% include amp-tabs.html data:tab -%} 
{% endfor %}
