---
{
  "layout": "amp-layout.njk",
  "permalink": "demo-amp-accordion.html"
}
---
<strong>{{result.title}} {{projectConfig.version}} - {{projectConfig.date}}</strong>

{% for accordion in componentAccordion %}
    {% if accordion.name == "Accordion Component"  %}
        {%- assign components = accordion.componentContainer.sections[1].components -%}
        {% for accordionComponent in components %}
            {% include amp-accordion.html data:accordionComponent.props.layoutState -%}
        {% endfor %}
    {% endif %}
{% endfor %}