amp-selector [option][selected] {
    outline: none;
}

.wrapper.tabs {
    // Brightcove videos inside tabs are too wide to fit on small
    // viewports with the default padding. This reduces the outer
    // padding between the tab border and the viewport to 5px to
    // alleviate the problem.
    @media(max-width: 380px) {
        padding: 0 5px;
    }

    ::-webkit-scrollbar {
        width: 7px;
    }

    ::-webkit-scrollbar-track {
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.5);
    }

    .tabs {
        &[role=tablist] {
            /* Styles for the flex layout based tabs */
            display: flex;
            flex-wrap: wrap;

            & [role=tab] {
                flex-grow: 1;
                text-align: center;
                border: 1px solid #bdbdbd;
                border-left-width: 0;
                background-color: #f5f5f5;
                border-radius: 10px 10px 0px 0px;
                max-width: 365px;
                min-height: 25px;
                max-height: 36px;
                word-wrap: break-word;
                overflow: hidden;
                font-family: "Inter", sans-serif;
                font-size: 18px;
                font-weight: 600;
                color: #636363;
                resize: none;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;

                &:first-child {
                    border-left-width: 1px;
                }

                &:hover {
                    color: inherit;
                }

                &:focus {
                    outline: 2px solid #000;
                    outline-offset: 0px;
                    z-index: 1
                }

                &[selected] {
                    background-color: $tab-active-bg;
                    border-bottom: none;
                }

                // AMP's CSS diminishes the focus outline, so this 
                // re-applies our focus rule
                &[selected]:focus {
                    @include outline-focus;
                    overflow-y: visible;
                    -webkit-line-clamp: unset;
                    outline: 2px solid #000;
                    outline-offset: 0px;
                    z-index: 1
                }
            }

            & [role=tabpanel] {
                display: none;
                width: 100%;
                order: 1;
                border-color: $border-color;
            }

            & [role=tab][selected]+[role=tabpanel] {
                display: block;
            }
        }

        // images and videos inside tabs have their own wrappers,
        // and they probably aren't .wrapper.inner, so this forces
        // them to behave as if they have the inner rule, so we dont
        // get "dobule padding" inside tab content.
        .wrapper {
            padding: 0;
        }
    }
}
