.wrapper.reveal {
    word-wrap: break-word;

    .btn {
        &.btn-answer-reveal {
            /*border: 0.1875rem solid;
            border-radius: 6px;*/
            width: 100%;

            &.active {
                //border: 3px solid #aadead;
                box-shadow: 0 0 0 3px $ctr-btn-active-border;
                border-radius: 6px 6px 0 0;
            }
        }
    }

    .answer-reveal {
        border: 1px solid;
        border-color: $border-color;
        border-radius: 0 0 6px 6px;

        .heading {
            display: flex;
            flex-direction: row;

            .heading-label {
                font-weight: bold;
                margin: auto 0;
            }
        }
    }
}