.tab-container {
  box-sizing: border-box;

  .tab-titles {
    display: flex;
    height: 40px;
  }

  .tab-title {
    text-align: center;
    background-color: #bdbdbd;
    color: #636363;
    border: 1px solid #bdbdbd;
    border-radius: 10px 10px 0px 0px;
    width: 484px;
    h3 {
      margin: 0;
    }
  }

  .active{
    background-color: #fff;
  }
}
