/* styles for callout and quote */
.wrapper.callout {

    /* override user agent */
    blockquote {
        margin: 0;
    }

    .max-content {
        // Setting max-width to 2 allows the infobox to fill the wrapper width
        @include max-width-2;
        background-color: $callout-bg;
    }

    // Display: table doesn't allow the infobox to stretch across inside the wrapper class
    // .co-table {
    //     display: table;
    // }

    .co-row {
        display: table-row;
    }

    .co-cell {
        display: table-cell;
        vertical-align: middle;
    }
    
    .co-cell:first-child {
        background-color: $brand-50;
        width: 199px;

        p {
            text-align: center;
        }
    }

    .icon {
        margin: auto;
        margin-top: 42px;
    }
    .icon-quote {
        width: 30px;
        height: 21px;
        margin-top: auto;
        margin-bottom: auto;
        padding: 0;
    }

    @media(min-width: 640px) {
        .max-content {
            padding: 0;
        }
    }
    
    @media(min-width: 832px) {
        .icon {
            width: 118px;
            height: 115px;
        }
        .icon-quote {
            width: 50px;
            height: 35px;
            padding-left: 0.5rem;
        }
    }
    cite {
        font-style: normal;
    }
}
