.demo-wrapper {
    border: 1px solid grey;
    padding: 25px 0;
    margin: 2rem 0;
}
.demo-wrapper-title,
.demo-wrapper-end {
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
.demo-wrapper-end {
    padding-top: 1rem;
}