.wrapper.quiz {
  position: relative;
  min-height: 380px;
  overflow: hidden;

  & label {
    display: block;
    padding: 1rem 1rem;
  }

  .quiz-choice {
    background-color: $quiz-choice-default-bg;
    margin-bottom: 1rem;  
    border: 2px solid $quiz-choice-default-border;
    display: block;
    &.selected {
      background-color: $quiz-choice-selected-bg;
      border-color: $quiz-choice-selected-border;
    }
    &:hover {
      background-color: $quiz-choice-hover-bg;
      border-color: $quiz-choice-hover-border;
      border-width: 2px;

    }
  }

  & .page {
    position: absolute;
    width: 100%;
    transition: transform 0.25s cubic-bezier(0, 0, 0.3, 1);
  }
  & .page.active-page {
    transform: translateX(0%);
    pointer-events: auto;
    display: contents;
  }
  & .tex2jax_process {
    display: inline;
  }
  & .page:not(.active-page) {
    opacity: 0.5;
    pointer-events: none;
  }
  & .page.next {
    transform: translateX(100%);
    display: none;
  }
  & .page.previous {
    transform: translateX(-100%);
  }
  & .button-group {
    width: 100%;
    margin-top: 1rem;
    & .feedback-reveal {
      background-color: $page-background;
      border: 1px solid;
      border-color: $border-color;
      border-radius: 0 0 6px 6px;
      padding: 1.25rem;

      & span {
        @include header-3;
        font-weight: bold;
      }
    }
  }
  
  & button.active {
    border-radius: $btn-primary-rad $btn-primary-rad 0 0;
  }
  
  & .show-fb {
    display: block;
    @include header-4;
  }
  & .hide-fb {
    display: none;
  }

  & .radio-enabled {
    opacity:1.0;
  }
  & .radio-disabled {
    pointer-events:none;
  }

  .correct {
    color: $success-icon;
    display: inline;
  }
  .wrong {
    color: $danger-icon;
    display: inline;
    padding-right: 5px;
  }

  .link {
    @include header-4;
    color: $text-body;
  }
  .fbp {
    padding-left: 5px;
  }

  .final-page {
    background-image: url("https://dcc.ilc.org/jw-rnd-days/cs-amp-templates/images/quizFinish1.svg");
    background-size: contain;
    text-align: center;
  }

  .btn {
    &.btn-flex {      // round Next and Previous buttons
      font-weight: normal;
      width: auto;
      height: auto;
      color: $text-body;
      padding: 0;
      margin: 0;
      background: none;
      &:hover {
        box-shadow: none;
        > .circle-icon {
          background: $btn-default-bg-hover;
        }
      }
  
      > .circle-icon {
          @include header-3;
          color: $button-text;
          background: $btn-default-bg;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          text-align: center;
          line-height: 32px; // inherit;
          vertical-align: middle;
      }
  
      > .btn-col {
          margin: auto 0;
          &.label {
              text-decoration: underline;
          }
      }
      
      > .btn-col:first-child {
          margin-right: 0.5rem;
      }
    }
  }
}
