.text-component {
  @include body-text;
  @include a-tag-style;
  
  p {
    margin: 0 0 1.25rem 0;
  }

  ul,
  ol {
    margin-left: 1.75rem;
    margin-top: 1rem;
  }

  li {
    padding-bottom: 0.875rem;
  }

  // Align text right
  .ql-align-right {
    text-align: right;
    list-style-position: inside;
  }

  // Align text center
  .ql-align-center {
    text-align: center;
    list-style-position: inside;
  }
}
