.wrapper.tabs-component {
  // Brightcove videos inside tabs are too wide to fit on small
  // viewports with the default padding. This reduces the outer
  // padding between the tab border and the viewport to 5px to
  // alleviate the problem.
  p {
    margin: 0;
  }

  .wrapper {
    &:last-child.bottom-margin {
      // This clears the bottom-margin that is added to text/other components
      margin-bottom: 0;
    }
  }

  .tabs {
    &[role="tablist"] {
      /* Styles for the flex layout based tabs */
      display: flex;
      flex-wrap: wrap;

      [role="tab"] {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        box-sizing: border-box;
        border: 0.0625rem solid $border-color;
        width: min-content;
        height: 4.625rem;
        border-left-width: 0;
        background-color: $inactive-bg;

        p {
          font-weight: 600;
          font-family: $component-main-font;
          font-style: normal;
          font-size: 1.125rem;
          text-align: center;
          line-height: 1.6875rem;
          letter-spacing: 0.03em;
          word-wrap: break-word;
          overflow-x: hidden;
          overflow-y: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          text-rendering: optimizeLegibility;
          -webkit-font-smoothing: subpixel-antialiased;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          margin: 0;
        }

        &:first-child {
          border-left-width: 0.0625rem;
          border-radius: 0.625rem 0 0 0;
        }

        &:nth-last-child(2) {
          border-radius: 0 0.625rem 0 0;
        }

        .hoverTabText {
          font-family: $component-main-font;
          font-size: 1.125rem;
          font-weight: 600;
          line-height: 1.6875rem;
          position: absolute;
          display: none;
          background: $grey-800;
          border-radius: 0.375rem;
          width: min-content;
          color: $white;
          line-height: 1.6875rem;
          padding: 0.625rem 1rem;
          top: 4.6875rem;
          z-index: 99;

          &::selection {
            color: $primary-body-text;
          }
        }

        .hoverTabText2 {
          width: 45.5%;
        }
        .hoverTabText3 {
          width: 30%;
        }
        .hoverTabText4 {
          width: 23%;
        }

        &:hover,
        &:focus-visible {
          background-color: $primary-bg;

          .hoverTabText {
            display: block;
          }
        }

        &:hover {
          text-decoration-line: underline;
        }

        &[selected] {
          background-color: $active-bg;
          border-bottom: 0.25rem solid $tab-border-bottom;
          color: $grey-900;

          &:hover {
            text-decoration-line: none;
          }
        }
      }

      & [role="tabpanel"] {
        display: none;
        width: 100%;
        order: 1;
        border-color: $component-border;
        background: $primary-bg;
      }

      & [role="tab"][selected] + [role="tabpanel"] {
        display: block;
        margin: 0;
        padding: 1.25rem 1.5rem 1.5rem 1.5rem;
      }

      & [role="tab"],
      & [role="tabpanel"] {
        &:focus-visible {
          outline: 0.125rem solid $tab-focus;
          outline-offset: 0.125rem;
          z-index: 99;
        }
      }
    }

    // images and videos inside tabs have their own wrappers,
    // and they probably aren't .wrapper.inner, so this forces
    // them to behave as if they have the inner rule, so we dont
    // get "dobule padding" inside tab content.
    .wrapper {
      padding: 0;
    }
  }

  // Remove default AMP selector outline styles
  amp-selector [option][selected] {
    cursor: auto;
    outline: none;
  }
}

.hideAccordion {
  display: none;
}

@media (max-width: 760px) {
  .hideAccordion {
    display: block;
  }
  .wrapper.tabs-component {
    display: none;
  }
}
