.wrapper.audio {
    .audio-style {
        background-color: $audio-bg;
        audio::-webkit-media-controls-panel {
            background-color: $audio-bg;  
        }
    }

    audio {
        // Safari requires width: 100% in order for all the controls to be visible
        width: 100%;
    }
}
