.wrapper.bottom-margin.video-component {

  p {
    margin: 0;
  }

  .transcript {
    overflow-y: scroll;
    height: 90px;
  }

  .description-container {
    margin-top: 1.5rem;
    padding: 0 1rem;
    font-family: $component-main-font;

    @media (max-width: 759px) {
      padding: 0;
    }

    .description-flex-container {
      display: flex;
      justify-content: space-between;
      // height: 4.2rem;
      // width: 100%;
    
      .description-text-less,
      .description-text-more {
        color: $grey-700;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.4rem;
        margin-right: 1.875rem;

        @media (max-width: 759px) {
          order: 2;
          margin-top: 0.625rem;
        }

        .description {
          margin-bottom: 0.625rem;
        }
        
        .description-only {
          margin-bottom: 0;
        }

        .video-credit {
          color: $grey-600;
        }
      }

      .description-text-less {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        word-wrap: break-word;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;

        p {
          max-height: 4.2rem;
        }
      }

      .transcript-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.875rem;
        padding: 0.75rem 1.9375rem;
        color: $grey-900;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1.375rem;
        letter-spacing: 0.02em;
        text-align: center;
        background: $transparent-grey-100;
        border: none;
        position: relative;
        border-radius: 0.3125rem;
        cursor: pointer;

        &:hover {
          background: $transparent-grey-300;
        }

        &:focus-visible {
          outline: none; 
        }
        
        // This resolves outline issue in Safari
        &:focus-visible::before {
          content: "";
          position: absolute;
          top: -0.25rem; // border: 2px + offset: 2px
          right: -0.25rem; // border: 2px + offset: 2px
          bottom: -0.25rem; // border: 2px + offset: 2px
          left: -0.25rem; // border: 2px + offset: 2px
          border: 0.125rem solid $tab-focus;
          border-radius: 0.5rem; // border—radius: 8px + offset: 2px
        }

        @media (max-width: 759px) {
          order: 1;
        }

        svg {
          margin-right: 0.4375rem;
          height: 1rem;
          width: 1.0625rem;
        }
      }

      @media (max-width: 759px) {
        flex-direction: column;
      }
    }

    @media (max-width: 759px) {
      margin-top: 0.965625rem;
    }
  }

  .show-more-button,
  .show-less-button {
    text-transform: uppercase;
    color: $grey-700;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.0em;
    margin: 0.625rem 0 0 0;
    padding: 0;
    border: none;
    border-radius: 0.125rem;
    position: relative;
    background: none;

    &:hover {
      background: $body-highlight;
      cursor: pointer;
    }

    &:focus-visible {
      outline: none;
    }

    // This resolves outline issue in Safari
    &:focus-visible::before {
      content: "";
      position: absolute;
      top: -0.25rem; // border: 2px + offset: 2px
      right: -0.25rem; // border: 2px + offset: 2px
      bottom: -0.25rem; // border: 2px + offset: 2px
      left: -0.25rem; // border: 2px + offset: 2px
      border: 0.125rem solid $tab-focus;
      border-radius: 0.125rem; // border—radius: 2px + offset: 1px
    }

    @media (max-width: 759px) {
      order: 3;
    }
  }
}

.wrapper {
  @media (max-width: 759px) {
    padding: 0 3.125rem;
  }

  @media (max-width: 375px) {
    padding: 0 1rem;
  }
}