.wrapper.table {
    display: block;
    overflow-x: auto;
    position: relative;
  
    .table {
        border-spacing: 0;
        border-left: 1px solid $border-color;
        border-bottom: 1px solid $border-color;  
    }

    th, td {
        text-align: left;
        vertical-align: middle;
        border-top: 1px solid $border-color;
        border-right: 1px solid $border-color;
        min-height: 60px;
        @media(max-width: 640px) {
            word-wrap: break-word;
            min-width:8rem;
        }
    }
    th {
        background-color: $table-header-bg;  
    }

    tr:nth-child(even) {
        background-color: $table-striped-bg;
    }

    .sticky {
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -ms-sticky;
        position: -o-sticky;
        position: sticky;
        left: calc(-1 * var(--space-3));
        z-index: 103;
    }
    caption {
        text-align: left;
    }
}