/* styles for infobox and quote */
.wrapper.infobox {    
    .max-content {
        @include max-width-2; // Setting max-width to 2 allows the infobox to fill the wrapper width
        background-color: $transparent-grey-50;
        border-radius: 0.625rem;
    }

    .co-row {
        display: flex;
        .section-content {
            margin: 3rem 0.938rem 2rem;
            .info-header {
                @include header-3;
                margin-bottom: 1.5rem;
            }
            .label-without-icon {
                display: none;
            }
            @include remove-last-child-btm; // This clears the bottom-margin that is added to text/other components
        }
    }

    .co-cell {
        background-color: $brand-50;
        width: 16.563rem;
        border-radius: 0.625rem 0 0 0.625rem;
        p {
            @include image-description-text;
            text-align: center;
            text-transform: uppercase;
            color: $brand-500;
            margin-bottom: 2.75rem;
        }
    }

    @media(max-width: 759px) {
        .max-content {
            border-radius: 0.625rem;
        }
        .co-row {
            display: block;
            .co-cell {
                width: 100%;
                border-radius: 0.625rem 0.625rem 0 0;
                .icon {
                    display: inline-block;
                    width: 4.688rem;
                    height: 4.688rem;
                    margin: 1.625rem 0 0.75rem 1.5rem;
                }
                p {
                    font-size: 1rem;
                    text-align: left;
                    padding: 0 1.688rem 1.313rem;
                    margin-bottom: 0;
                }
            }
            .section-content {
                position: static;
                padding-bottom: 0.063rem;
                margin: 0;
            }
            .label-without-icon {
                padding-top: 1.875rem;
            }
            .info-header {
                margin-top: 1.313rem;
            }
        }
    }

    .no-icon {
        .co-cell {
            display: none;
        }
        .section-content {
            .label-without-icon {
                display: block;
                @include image-description-text;
                margin: 0 1.5rem 0.906rem;
                text-transform: uppercase;
                color: $brand-500;
            }
        }
    }

    .icon {
        margin: 2.625rem auto 1.25rem;
        width: 7.375rem;
        height: 7.188rem;
    }    
}
