.wrapper.bottom-margin-1.header-component {
  &.large {
    @include header-1;
  }

  &.medium {
    @include header-2;
  }

  &.small {
    @include header-3;
  }

  &.left-align {
    text-align: left;
  }

  &.center-align {
    text-align: center;
  }

  &.right-align {
    text-align: right;
  }
}