.wrapper.accordion {
    .btn.link {
        color: $grey-500;
        font-weight: 400;
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-size: 1.125rem;
        text-decoration: none;
    }
    .btn.link:disabled {
        opacity: 0.2;
        box-shadow: none;
        pointer-events: none;
    }
    .verticalBar {
        color: $grey-500;
    }

    .accordion {
        clear: right;

        .heading {
            background-color: $accordion-heading-bg;
            border-color: $border-color;
            
            &:hover {
                background-color: $accordion-heading-bg-hover;
            }

            span {
                width: calc(100% - 1.5rem);
            }
        }
        
        .section-content {
            border-color: $border-color;
        }

        section {
            &:first-child {
                .heading {
                    border-radius: 6px 6px 0 0;
                }
            }
        
            &:last-child {
                .heading {
                    border-radius: 0 0 6px 6px;
                }
            }
        }
    }
}

/*! purgecss start ignore */
.wrapper.accordion .accordion section[expanded] .heading {
    background-color: $accordion-heading-active-bg;
    border-color: $accordion-heading-active-border;
}

.wrapper.accordion .accordion section:last-child[expanded] .heading {
    border-radius: 0;
}

.wrapper.accordion .accordion section:last-child[expanded] .section-content {
    border-bottom: 1px solid $border-color;
}
/*! purgecss end ignore */
