<div class="wrapper bottom-margin">
    
    {% if data.type == "brightcove" -%}
    
        <div class="brightcove">
            <amp-brightcove
                data-account="23648095001"

            {%comment%}
                The player id originally was pulled out of the CMS. For now we are pointing
                at a "test player" built by distribution
                data-player="{{data.videoId}}"
            {%endcomment%}

                data-player="Kl2Y7HovlM"
                data-video-id="{{ data.videoId }}"
                layout="responsive"
                width="900"
                height="500"
                noloading
            >
            </amp-brightcove>

        </div>

    {%comment%}
        TODO: find out if these are needed 
        
        "caption": null,
        "credit": null,
        "transcript": {
            "blocks": [
                {
                    "key": "7m3m2",
                    "text": "",
                    "type": "unstyled",
                    "depth": 0,
                    "inlineStyleRanges": [],
                    "entityRanges": [],
                    "data": {}
                }
            ],
            "entityMap": {}
        }
    {%endcomment%}

    {% elsif data.type == "youTube" %}
    
    {%- assign videoId = data.videoId | split: '=' | last -%}
    
        <div class="youtube">

        {%comment%}
            The player will always be 16x9 (widescreen) and take up the "full width" of it's parent.
            The Youtube player itself will determine the height/width of the video source, and letterbox
            as needed.
            The Placeholder image will be stretched to "full width" regardless of thumbnail dimensions.
        {%endcomment%}

            <amp-youtube
                width="16"
                height="9"
                layout="responsive"
                data-param-modestbranding="1"
                data-param-rel="1"
                data-videoid="{{ videoId }}"
            >
                <amp-img
                    src="http://i3.ytimg.com/vi/mM5_T-F1Yn4/hqdefault.jpg"
                    placeholder
                    layout="fill"
                ></amp-img>
            </amp-youtube>

        </div>
    {%- endif -%}

    {% if data.caption %}

        <figure class="figure">
            <figcaption class="caption center pt2 italic">
                {{data.caption}}
            </figcaption>
        </figure>
    
    {% endif %}

</div>
