<div class="brightcove wrapper bottom-margin">
    <amp-brightcove
        data-account="23648095001"
    {%comment%}
        The player id originally was pulled out of the CMS. For now we are pointing
        at a "test player" built by distribution
        data-player="{{data.brightcoveDataPlayer}}"
    {%endcomment%}
        data-player="Kl2Y7HovlM"
        data-video-id="{{data.props.videoId}}"
        layout="responsive"
        width="900"
        height="500"
        noloading
    >
    </amp-brightcove>
</div>