<div class="iframe wrapper bottom-margin clearfix">

{% if data.width <= 360 %}
    {% assign $breakpoint = 360 %}
{% elsif data.width <= 475 %}
    {% assign $breakpoint = 475 %}
{% elsif data.width <= 640 %}
    {% assign $breakpoint = 640 %}
{% elsif data.width <= 832 %}
    {% assign $breakpoint = 832 %}
{% else %}
    {% assign $breakpoint = 900 %}
{% endif %}

    <div class="visible-{{$breakpoint}}">
        <amp-iframe
            src="{{data.url}}"
            layout="fixed"
            sandbox="allow-scripts allow-same-origin"
            width="{{data.width}}"
            height="{{data.height}}"
            title="{{data.title}}"
            class="mx-auto block"
            >
            <!-- TODO: Get a better Loading... placeholder image for iFrames -->
            <amp-img
                height="207"
                width="207"
                layout="fixed"
                placeholder
                src="https://content-solutions.s3.ca-central-1.amazonaws.com/courseware/images/iframe-loading.svg"
            ></amp-img>
        </amp-iframe>
    </div>

    <!-- When viewed at < {{$breakpoint}}px, launch the ILO into a new tab via link -->
    <div class="box-shadow-darker std-radius py4 px3 center hidden-{{$breakpoint}}">
        <div class="font-larger bold mt4 pb2 border-bottom" aria-hidden="true">
            {{data.title}}
        </div>

        <div class="my4">
            <a href='{{data.url}}' target='_blank' class="btn btn-primary-sm btn-launch-start font-normal">
                Launch Interactive  <span class="sr-only">{{data.title}} (Opens in a new window)</span><i class="fa fa-external-link" aria-hidden="true"></i>
            </a>
        </div>
    </div>

</div>