{%- case data.calloutType -%}
  {%- when "Definition" -%}
    {%- assign className = "definition" -%}
    
  {%- when "Try It" -%}
    {%- assign className = "tryit" -%}
   
  {%- when "Challenge" -%}
    {%- assign className = "challenge" -%}
    
  {%- when "Notebook" -%}
    {%- assign className = "notebook" -%}
   
{%- endcase -%}
<div class="callout wrapper bottom-margin">
  <div class="max-width-1 mx-auto">
    <div class="co-table max-content box-shadow pt2 px2">
      <div class="co-row">
        <div class="co-cell">
          <amp-img
            width="36"
            height="36"
            alt=""
            layout="responsive"
            aria-hidden="true"
            class="icon pr1"
            src="https://s3.ca-central-1.amazonaws.com/ilc.tvo.org/ets4u/assets/img/{{ className }}_icon.svg"
          >
          </amp-img>
        </div>
        <div class="co-cell">
          {%- include amp-heading.html data:data headingClass:'h3 inline' -%}
        </div>
      </div>
      <div class="co-row">
        <div class="co-cell"></div>
        <div class="co-cell">
          {{ data.body }}
        </div>
      </div>
    </div>
  </div>
</div>
