<section id="{{section.id}}">
    <div class="tgt-{{section.id}}">
      <a class="tgt-anchor" id="{{section.id}}Anchor"></a>
    </div>
      <h1 class="max-width-4 mx-auto mb4">
          <span class="sr-only">{{section.type}}</span>
      </h1>
  
      {%- for component in section.topics -%}
          {% include content-model-parser.liquid item:component.components[0] %}
          <script type="text/javascript">
            console.log("section.topic");
            console.log({{ component.components | json }});
          </script>
      {%- endfor -%}

  </section>

