.Callout_main {
  background: #ececec !important;
  padding: 36px 100px;
  margin: 10px;
}

.Callout_label {
  font: 18px / 22.5px Arial, sans-serif;
}

.Callout_heading {
  font-size: 20px;
  font-weight: 700;
  line-height: 43px;
  font-family: "Arial";
  margin-bottom: 5px;
}

.Callout_body {
  font-family: "Arial";
  resize: none;
}

.Callout_type_dropdown {
  margin-bottom: 10px;
  margin-left: 10px;
}

.Callout_body_text {
  display: flex;
}

.Callout_img {
  margin-right: 10px;
  width: 55px;
  height: 55px;
  border: 1px solid transparent;
}

.Callout_icon_placeholder {
  border: 1px dashed silver;
  width: 55px;
  height: 55px;
  margin-right: 10px;
}
