.imageContainer {
   display: flex;
   flex-direction: column;
   border: none;
   position: relative;
   color: #fff;
   padding: 20px 20px 0 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

   .uploadedImg {
     border: none;
     max-width: 100%;
     height: auto;
     align-self: center;

     &:hover {
      cursor: pointer;
     }

     &:focus {
      outline: 3px solid #ffc46b;
     }
   }

   .placeholderImg {
      background-color: #f6f6f6;
      background-image: url("../assets/imageIcon.svg");
      background-repeat: no-repeat;
      background-position: center;
      height: 400px;
      width: 100%;
      transition: border ease-in-out 0.3s;
      border: 1px solid #707070;
      
      &:hover {
         cursor: pointer;
      }
      
      &:focus {
         outline: 3px solid #ffc46b;
         z-index: 100;
      }
   }

   .imageLink {
      align-self: center;
      margin: 0;
      text-decoration: none;
      border: none;
      height: auto;
   }

   .longDescription {
      align-self: flex-start;
      font-size: 0.75rem;
   }
}