.LearnosityStyles {
  .lrn-author-ui {
    color: white !important;
    display: none !important;
  }
  .lrn.lrn_widget {
    background-color: #1565c0;
    display: none !important;

    color: white;
  }
  .lrn_mcq {
    background-color: #1565c0 !important;
  }

  .lrn_mcqgroup label {
    color: white !important;
    background-color: black;
  }
}

.lrn.lrn-author {
  display: none !important;
  background-color: #1565c0 !important;
  color: white !important;
}
.lrn .lrn_response_wrapper .lrn_mcqgroup .lrn-possible-answer .lrn_choiceLabel {
  color: white !important;
  background-color: black !important;
}
.lrn .lrn_question .lrn_stimulus {
  color: red !important;
  background-color: #1565c0 !important;
}
