// ----------------------------------------------------------------------
// Color Palette
//
// These colours should NOT get assigned within other CSS; Instead, assign
// them to component role variable, below.
//
// To see a documented version of the colour swatches, see
// /views/demo-colors.html
//
$outline-focus: #0b9f93;

$brand-primary: #0e8515; // NEW color for $brand-green
$brand-primary-dark: #096e0f; // NEW color for $brand-green-dark

$brand-secondary-light: rgba(0, 0, 0, 0.02); // formerly $background-grey
$brand-secondary: rgba(0, 0, 0, 0.15); // formerly $border-grey
$brand-secondary-dark: #8e9295; // formerly $med-grey

$brand-tertiary: #deeddf; // formerly $brand-green-light
$brand-tertiary-dark: #aadead; // formerly $brand-green-med

$brand-complementary: #b5e2de; // formerly $background-blue

// ----------------------------------------------------------------------
// Generic color/role Variables
//
// Use your brain when referencing these colors. Sometimes it makes sense to
// reference them directly in the CSS, and sometimes it is more appropriate to
// use a component role variable, below.
//
// default font colours
$text-body: #212628;
$heading-underline: #56656a; // NEW
$button-text: #fff;

$page-background: #fff;

// Below is a colour Karen is adding
// PLEASE CHECK

$box-shadow-2: #00000026;

// Alert States - WIP
//
// Success
// FA green icon for checkmarks
$success-icon: #25912c; // $text-green

// Warning
$warning-icon: #f9f1c6; // FA yellow icon for Exclamations
$warning-bg: #f9f1c6;
$warning-text: $brand-primary-dark;

// Danger
// FA red icon for Xs
$danger-icon: #f43131; // $text-red

// ----------------------------------------------------------------------
// Generic Roles
//
// These are variables that are generally used across multiple components,
// but still have a singular purpose.
//
$border-color: $brand-secondary;
$link-color: $brand-primary;

// Buttons
$btn-default-bg: $brand-primary;
$btn-default-text: $button-text;
$btn-default-bg-hover: $brand-primary-dark;
$btn-default-border-hover: $brand-tertiary-dark;

$btn-disabled-bg: $brand-secondary-light;
$btn-disabled-text: $brand-secondary;
$btn-disabled-border: $brand-secondary;

$btn-link-text: $brand-primary;

// Forms
$input-border: $brand-primary;
$radio-bg: $page-background;
$textarea-border-hover: $brand-tertiary-dark;

// ----------------------------------------------------------------------
// Component-Specific Roles
//
// These are variables that are specific to a component.
//
// Accordion
$accordion-btn-link-bg-hover: $brand-primary;
$accordion-btn-link-text-hover: $button-text;

$accordion-heading-bg: $brand-secondary-light;
$accordion-heading-bg-hover: $brand-tertiary;
$accordion-heading-active-bg: $brand-tertiary;
$accordion-heading-active-border: $brand-primary;

// Audio
$audio-bg: $brand-secondary-light;

// Callout
$callout-bg: $brand-secondary-light;

// Carousel
$carousel-dots-default-bg: $brand-secondary;
$carousel-dots-current-bg: $brand-secondary-dark;

// Click-to-Reveal
$ctr-btn-active-border: $brand-tertiary-dark;

// Navbar
$navbar-progress-bar: $brand-primary-dark;
$navbar-box-shadow: $box-shadow-2;
$navbar-lesson-title-bg: $brand-secondary-light;
$navbar-main-page-blur-effect: $heading-underline;

$navbar-btn-active-bg: $brand-primary;
$navbar-btn-active-text: $button-text;
$navbar-btn-inactive-icon: $brand-primary;

$navbar-sidebar-goals-bg: $brand-tertiary;
$nabvar-sidebar-success-bg: $brand-complementary;
$navbar-sidebar-circle: $brand-primary;
$navbar-sidebar-circle-hover: $brand-secondary;
$navbar-sidebar-close-btn-hover: $success-icon;
$navbar-sidebar-link-hover: $brand-primary-dark;
$navbar-sidebar-link-bg: $brand-tertiary;
$navbar-sidebar-close-icon: $heading-underline;

// Skip-to-content link
$link-skip-bg: $brand-secondary-light;

// Quiz
$quiz-choice-default-bg: $brand-secondary-light;
$quiz-choice-default-border: $brand-secondary-light;
$quiz-choice-default-border-hover: $brand-tertiary-dark;

$quiz-choice-selected-bg: $brand-tertiary;
$quiz-choice-selected-border: $brand-primary;
$quiz-choice-hover-bg: $brand-tertiary;
$quiz-choice-hover-border: $brand-tertiary-dark;

// Table
$table-header-bg: $brand-tertiary;
$table-striped-bg: $brand-secondary-light;

// Tabs
$tab-default-bg: $page-background;
$tab-default-bg-hover: $brand-secondary;

$tab-active-bg: $brand-secondary-light;
$tab-active-text: $brand-primary;
$tab-active-border-top: $brand-primary;
