.color-test {
    .swatch {
        width: 50px;
        height: 50px;
        display: inline-block;
    }

    .primary-bg {
        background-color: $brand-primary;
    }
    .primary-dark-bg {
        background-color: $brand-primary-dark;
    }

    .secondary-bg {
        background-color: $brand-secondary;
    }
    .secondary-dark-bg {
        background-color: $brand-secondary-dark;
    }
    .secondary-light-bg {
        background-color: $brand-secondary-light;
    }

    .tertiary-bg {
        background-color: $brand-tertiary;
    }
    .tertiary-dark-bg {
        background-color: $brand-tertiary-dark;
    }

    .complimentary-bg {
        background-color: $brand-complementary;
    }

    .text-color-bg {
        background-color: $text-body;
    }
    .heading-underline-bg {
        background-color: $heading-underline;
    }

    .success-bg {
        background-color: $success-icon;
    }
    .text-success {
        color: $success-icon;
    }
    .warning-bg {
        background-color: $warning-icon;
    }
    .text-warning {
        color: $brand-primary-dark;
    }
    .danger-bg {
        background-color: $danger-icon;
    }
    .text-danger {
        color: $danger-icon;
    }

    .outline-bg {
        background-color: $outline-focus;
    }

    tr > td:nth-child(3) {
        padding-left: 3rem;
    }
}
