// Google fonts imports
// Lato (Main component text ie tab title, accordion titles, etc)

// @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

// Crimson Pro (Text component body font)
// @font-face {
//   font-family: "Crimson Pro";
//   src: url("https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap");
// }

// Platypus custom in house font used for icons
@font-face {
  font-family: "platypus";
  src: url("https://s3-componentsexperiments-sbx01-cac1-01.s3.ca-central-1.amazonaws.com/AMP/Font+Testing/platypus.ttf");
  // Important to note with this font: set the font-weight and font-style to normal when using this font
}

// @font-face {
//   font-family: "Lato";
//   font-style: normal;
//   font-weight: 400;
//   // font-display: swap;
//   src: url(https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2)
//     format("woff2");
//   unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
//     U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
// }

// Any new fonts can be imported below...

// Font families
$component-main-font: "Lato", sans-serif;
$text-body-font: "Crimson Pro", serif;
$amp-icons-font: "platypus";
