
{% assign dataMaxWidth = data.imgSize.width %}

{% if data.imgSize.width > 760 %}
  {% assign dataMaxWidth = 760 %}
{% endif %}   

<div 
{% if data.imageTextSettings.fullWidth %}
class="max-width-4 mx-auto mb4 img-comp"
{% else %}
class="image wrapper {{wrapperStyles | default: 'bottom-margin-3'}} img-comp" 
{% endif %}
>

  <amp-img
      width="{{data.imgSize.width}}" 
      height="{{data.imgSize.height}}"
      {% if data.imageTextSettings.fullWidth == false %}
        style="max-width:{{dataMaxWidth}}px; margin: auto"
      {% endif %}

      layout="responsive"

      alt='{{data.alt}}'
      src="https://d31zh5u1i9v0op.cloudfront.net/{{data.uploadedImg}}">

  </amp-img>
  {% assign figcaptionWidth = data.imgSize.width %}



  {% if data.imageTextSettings.fullWidth %}
    {% assign figcaptionWidth = 760 %}
  {% elsif data.imgSize.width < 500 %}
    {% assign figcaptionWidth = 500 %}
  {% elsif data.imgSize.width > 760 %}
    {% assign figcaptionWidth = 760 %}
  {% endif %}


  <figcaption style="max-width:{{figcaptionWidth}}px;" class="caption center">
    {% if data.imageTextSettings.description == true %}
      {{data.longDesc}}
    {% endif %}
    {% if data.imageTextSettings.credit == true %}
      <em>Credit:&nbsp;{{ data.credit | replace: '<span><i class=', ' <span><i class=' }}</em>
    {% endif %}
  </figcaption>

  {% if data.caption %}
    {{data.caption}}
  {% endif %}

  {% if data.imgLink %}
    <a href="{{data.imgLink}}" target="_blank">{{data.alt}}</a>
  {% endif %}

</div>