{% assign info-header-center = '' %}
{% assign no-icon = '' %}

{% if data.body == "<br>" %}
  {% assign info-header-center = "info-header-center" %}
{% endif %}

{% if data.infoBoxIcon == "No icon" or data.infoBoxIcon == null %}
  {% assign no-icon = "no-icon" %}
{% endif %}

<div class="infobox wrapper bottom-margin">
  <div class="co-table max-content">
    <div class="co-row {{ no-icon }}">
      <div class="co-cell">
        <amp-img
          alt=""
          layout="responsive"
          aria-hidden="true"
          class="icon pr1"
          src="https://s3.ca-central-1.amazonaws.com/ilc.tvo.org/ets4u/assets/img/{{ data.infoBoxIcon | split: ' ' | first | downcase }}_icon.svg"
        >
        </amp-img>
        <p class="wrapper">{{ data.infoBoxLabel }}</p>
      </div>
      <div class="section-content {{ info-header-center }}">
        <p class="label-without-icon">{{ data.infoBoxLabel }}</p>
        {%- include amp-heading.html data:data.infoBoxHeader headingClass:'h3 info-header' -%}
        {% comment %}
        <h3 class="info-header">{{ data.infoBoxHeader.heading }}</h3>
        {% endcomment %}
        {% include amp-text.html data:data %}
      </div>
    </div>
  </div>
</div>
