<div class="wrapper bottom-margin video-component">
    {%- assign videoId = 'video' | append: dataID -%}
    {%- assign showVideoId = 'showVideoId' | append: dataID -%}
    {%- assign hideVideoId = 'hideVideoId' | append: dataID -%}
    {%- assign videoDescription = data.videoDescription | strip_html | strip -%}
    {%- assign videoCredit = data.videoCredit | strip_html -%}
    {%- assign displayDescription = data.videoTextSettings.description -%}
    {%- assign displayCredit = data.videoTextSettings.credit -%}

    {% if data.videoSource == "brightcove" -%}
    
        <div class="brightcove">
            <amp-brightcove
                data-account="23648095001"

            {%comment%}
                The player id originally was pulled out of the CMS. For now we are pointing
                at a "test player" built by distribution
                data-player="{{ data.videoId }}"
            {%endcomment%}
                data-player="Kl2Y7HovlM"
                data-video-id="{{ data.videoId }}"
                layout="responsive"
                width="760"
                height="420"
                noloading
            >
            </amp-brightcove>
        </div>
   
    {% elsif data.videoSource == "youTube" %}
    
    {%- assign videoId = data.videoId | split: '=' | last -%}
    
        <div class="youtube">

        {%comment%}
            The player will always be 16x9 (widescreen) and take up the "full width" of it's parent.
            The Youtube player itself will determine the height/width of the video source, and letterbox
            as needed.
            The Placeholder image will be stretched to "full width" regardless of thumbnail dimensions.
        {%endcomment%}

            <amp-youtube
                width="16"
                height="9"
                layout="responsive"
                data-param-modestbranding="1"
                data-param-rel="1"
                data-videoid="{{ videoId }}"
            >
                <amp-img
                    src="http://i3.ytimg.com/vi/mM5_T-F1Yn4/hqdefault.jpg"
                    placeholder
                    layout="fill"
                ></amp-img>
            </amp-youtube>

        </div>
    {%- endif -%}
    
    <div class="description-container">
        <div class="description-flex-container">
            <div class="description-text-less" id="{{videoId}}" [class]="buttonToggleVideo_{{videoId}} ? 'description-text-more' : 'description-text-less'">
                {%- if videoDescription.length > 0 and displayDescription == true -%}
                    {% if videoDescription != " " %}
                        <p [class]="{{displayCredit}} ? 'description' : 'description-only'">
                            {{videoDescription}}
                        </p>
                    {% endif %}
                {%- endif -%}
                {% if videoCredit.length > 0 and videoCredit != null and displayCredit == true %}
                    {% if videoDescription.length > 204 %}
                        <p [class]="buttonToggleVideo_{{ videoId }} ? 'video-credit' : 'sr-only'">Credit: {{videoCredit}}</p>
                    {% else %}
                        <p class="video-credit">Credit: {{videoCredit}}</p>
                    {% endif %}
                {% endif %}
            </div>
            <amp-script data-ampdevmode layout="fixed-height" script="api-script" class="sample">
                <button
                    class="transcript-button"
                    aria-label="Download transcript"
                    [text]="transcriptContent"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                        <path d="M1.007 13.997v1.974l13.986.005v-1.974" stroke="#292929" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M8.003 11.998v-10" stroke="#292929" stroke-width="2" stroke-linecap="round" />
                        <path d="m3.006 8.248 4.997 4 4.998-4" stroke="#292929" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    Transcript
                </button>
            </amp-script>
                <a href="transcriptContent" download="wilson.txt" class="transcript-button" aria-label="Download transcript">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                        <path d="M1.007 13.997v1.974l13.986.005v-1.974" stroke="#292929" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M8.003 11.998v-10" stroke="#292929" stroke-width="2" stroke-linecap="round"/>
                        <path d="m3.006 8.248 4.997 4 4.998-4" stroke="#292929" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                        Transcript
                </a>
        </div>
        {% if videoDescription.length > 204 and displayDescription != false %}
            <button
                class="show-more-button"
                id="{{ showVideoId }}"
                on="tap:{{ showVideoId }}.hide,{{ hideVideoId }}.show, AMP.setState({ buttonToggleVideo_{{ videoId }}: true })"
                aria-hidden="true"
            >
                Show more
            </button>
            <button
                hidden
                id="{{ hideVideoId }}"
                class="show-less-button"
                on="tap:{{ showVideoId }}.show,{{ hideVideoId }}.hide,AMP.setState({ buttonToggleVideo_{{ videoId }}: false })"
                aria-hidden="true"
            >
                Show less
            </button>
        {% endif %}
    </div>
</div>

<script id="api-script" type="text/plain" target="amp-script">

    // get file from a URL link
    const getFile = (url, callback) => {
      var httpRequest = new XMLHttpRequest(),
        response,
        getResponse = function () {
          // response handler
          try {
            if (httpRequest.readyState === 4) {
              if (httpRequest.status === 200) {
                response = httpRequest.responseText;
                if (response === "{null}") {
                  // some API requests return '{null}' will breaks JSON.parse
                  response = null;
                }
                callback(response); // return the response
              } else {
                callback(null);
              }
            }
          } catch (e) {
            callback(null);
          }
        };
      // set up request data
      httpRequest.onreadystatechange = getResponse; // set response handler
      httpRequest.open("GET", url); // open the request
      httpRequest.send(); // open and send request
    };

    const fetchAPI = async () => {
        const headers = {
            "BCOV-Policy": 'BCpkADawqM1XplIzTT5iB8WK5oNDPzQsM2CDxSACIVrgtdNB-PRZjMuDeSgYSpdK1dkvswBpDnEoxoAtwa1u9AYhNqX8LemUJQGTksH9e5M5QlElWJy6ygFINKA',
            };
      const result = await fetch("{{ data.videoURL }}", { headers });
      const data = await result.json();

      var responseEdited = "";
      const chosenTrack = data.text_tracks[1].src;

      getFile(chosenTrack, function (response) {
        if (response) {
            responseEdited = response.replace(
                "X-TIMESTAMP-MAP=LOCAL:00:00:00.000,MPEGTS:0",
                ""
              );
            responseEdited = responseEdited.replace("WEBVTT", "");
            responseEdited = responseEdited.replace("00:00.000 --> 01:00:00.000", "");
            responseEdited = responseEdited.replace(/^(?:[\t ]*(?:\r?\n|\r))+/,'');
            responseEdited = responseEdited.replace(/<br \/>/g,'');
            responseEdited = 'data:text/plain;charset=utf-8,' + encodeURIComponent(responseEdited)
            console.log("transcript content", responseEdited);
            AMP.setState({'transcriptContent': responseEdited});
        }
      });
    }
    fetchAPI()
  </script>
