---
{
  "result": {
    "title": "Quiz",
    "components": [
      {
        "uuid": "40-92a0-447e-9345-cee977e7ad2d",
        "uuidClean": "40_92a0_447e_9345_cee977e7ad2d",
        "type": "quiz",
        "heading": {
          "processed": "Quiz: This lessons Quiz",
          "headingLevel": "h2"
        },
        "introduction": "<p>This will lorem ipsum and such.</p>",
        "questions": [
                    {
            "uuid": "48-92a0-447e-9345-cee977e7ad2d",
            "uuidClean": "48_92a0_447e_9345_cee977e7ad2d",
            "type": "quiz_multiple_choice_question",
            "question": [
              {
                "uuid": "46-92a0-447e-9345-cee977e7ad2d",
                "uuidClean": "46_92a0_447e_9345_cee977e7ad2d",
                "type": "formatted_text",
                "heading": null,
                "body": "<p>What vintage TV show had this robot as a main character?</p>"
              },
              {
                "uuid": "47-92a0-447e-9345-cee977e7ad2d",
                "uuidClean": "47_92a0_447e_9345_cee977e7ad2d",
                "type": "image",
                "title": null,
                "width": 341,
                "height": 222,
                "url": "https://assets.contenta.tvo.org/prod/public/2020-08/Robot_1.jpg",
                "altText": "Robot",
                "caption": null
              }
            ],
            "answers": [
              {
                "uuid": "41-92a0-447e-9345-cee977e7ad2d",
                "uuidClean": "41_92a0_447e_9345_cee977e7ad2d",
                "type": "quiz_multiple_choice_answer",
                "answerCopy": "Bewitched",
                "correctAnswer": false,
                "feedback": "Nope. No robots there. Maybe Darren's acting. But no."
              },
              {
                "uuid": "42-92a0-447e-9345-cee977e7ad2d",
                "uuidClean": "42_92a0_447e_9345_cee977e7ad2d",
                "type": "quiz_multiple_choice_answer",
                "answerCopy": "Lost in Space",
                "correctAnswer": true,
                "feedback": "Yes! What a great show, huh?"
              },
              {
                "uuid": "43-92a0-447e-9345-cee977e7ad2d",
                "uuidClean": "43_92a0_447e_9345_cee977e7ad2d",
                "type": "quiz_multiple_choice_answer",
                "answerCopy": "Dallas",
                "correctAnswer": false,
                "feedback": "Not even close \\(x=2\\) end of text."
              },
              {
                "uuid": "44-92a0-447e-9345-cee977e7ad2d",
                "uuidClean": "44_92a0_447e_9345_cee977e7ad2d",
                "type": "quiz_multiple_choice_answer",
                "answerCopy": "Gunsmoke",
                "correctAnswer": false,
                "feedback": "No. Wrong genre altogether"
              },
              {
                "uuid": "45-92a0-447e-9345-cee977e7ad2d",
                "uuidClean": "45_92a0_447e_9345_cee977e7ad2d",
                "type": "quiz_mul  tiple_choice_answer",
                "answerCopy": "The Twilight Zone",
                "correctAnswer": false,
                "feedback": "Yeeeeeah...no."
              }
            ]
          },
          {
            "uuid": "39-92a0-447e-9345-cee977e7ad2d",
            "uuidClean": "39_92a0_447e_9345_cee977e7ad2d",
            "type": "quiz_true_false_question",
            "question": [
              {
                "uuid": "37-92a0-447e-9345-cee977e7ad2d",
                "uuidClean": "37_92a0_447e_9345_cee977e7ad2d",
                "type": "formatted_text",
                "heading": null,
                "body": "<p>This is a cat...</p>"
              },
              {
                "uuid": "38-92a0-447e-9345-cee977e7ad2d",
                "uuidClean": "38_92a0_447e_9345_cee977e7ad2d",
                "type": "image",
                "title": null,
                "width": 300,
                "height": 200,
                "url": "https://assets.contenta.tvo.org/prod/public/2020-08/kitten.jpg",
                "altText": "A cat",
                "caption": null
              }
            ],
            "answer": true,
            "feedbackCorrect": "<p>That's right! Purrr!</p>",
            "feedbackIncorrect": "<p>Wrong! It is, indeed, a cat.</p>"             
          },

          {
            "uuid": "50-92a0-447e-9345-cee977e7ad2d",
            "uuidClean": "50_92a0_447e_9345_cee977e7ad2d",
            "type": "quiz_true_false_question",
            "question": [
              {
                "uuid": "49-92a0-447e-9345-cee977e7ad2d",
                "uuidClean": "49_92a0_447e_9345_cee977e7ad2d",
                "type": "formatted_text",
                "heading": null,
                "body": "<p>The answer is True</p>"
              }
            ],
            "answer": true,
            "feedbackCorrect": "<p>Right.</p>",
            "feedbackIncorrect": "<p>Wrong.</p>"
          }
        ]
      },
      {
        "uuid": "63-92a0-447e-9345-cee977e7ad2d",
        "uuidClean": "63_92a0_447e_9345_cee977e7ad2d",
        "type": "quiz",
        "heading": {
          "processed": "Quiz: Number 2",
          "headingLevel": "h2"
        },
        "introduction": "<p>This quiz is essentially to test for collisions.</p>",
        "questions": [
          {
            "uuid": "60-92a0-447e-9345-cee977e7ad2d",
            "uuidClean": "64_92a0_447e_9345_cee977e7ad2d",
            "type": "quiz_multiple_choice_question",
            "question": [
              {
                "uuid": "66-92a0-447e-9345-cee977e7ad2d",
                "uuidClean": "66_92a0_447e_9345_cee977e7ad2d",
                "type": "formatted_text",
                "body": "<p>What colour is an orange?</p>"
              }
            ],
            "answers": [
              {
                "uuid": "56-92a0-447e-9345-cee977e7ad2d",
                "uuidClean": "56_92a0_447e_9345_cee977e7ad2d",
                "type": "quiz_multiple_choice_answer",
                "answerCopy": "Red",
                "correctAnswer": false,
                "feedback": "No. Read the question again."
              },
              {
                "uuid": "57-92a0-447e-9345-cee977e7ad2d",
                "uuidClean": "57_92a0_447e_9345_cee977e7ad2d",
                "type": "quiz_multiple_choice_answer",
                "answerCopy": "No colour at all.",
                "correctAnswer": false,
                "feedback": "No. It does have a colour."
              },
              {
                "uuid": "58-92a0-447e-9345-cee977e7ad2d",
                "uuidClean": "58_92a0_447e_9345_cee977e7ad2d",
                "type": "quiz_multiple_choice_answer",
                "answerCopy": "Orange.",
                "correctAnswer": true,
                "feedback": "Yes! Ya gotta get up pretty early to put one over on you, don't you?"
              }
            ]
          },
          {
            "uuid": "62-92a0-447e-9345-cee977e7ad2d",
            "uuidClean": "62_92a0_447e_9345_cee977e7ad2d",
            "type": "quiz_true_false_question",
            "question": [
              {
                "uuid": "70-92a0-447e-9345-cee977e7ad2d",
                "uuidClean": "70_92a0_447e_9345_cee977e7ad2d",
                "type": "formatted_text",
                "body": "<p>The answer you should choose is False</p>"
              }
            ],
            "answer": false,
            "feedbackCorrect": "<p>Yes.</p>",
            "feedbackIncorrect": "<p>No.</p>"
          }
        ]
      }
    ]
  },
  "layout": "amp-layout.njk",
  "permalink": "demo-amp-quiz.html"
}
---
<h1>{{result.title}} {{projectConfig.version}} - {{projectConfig.date}}</h1>

{% include amp-quiz.html data:result.components[0] -%}
<hr />
{% include amp-quiz.html data:result.components[1] -%}
