---
{
  "result": {
    "title": "Quote Box",
    "components": [
      # example quote with link
      {
        "uuid": "00ef1a53-b7ec-4c11-9554-43bbd6d44db2",
        "uuidClean": "00ef1a53_b7ec_4c11_9554_43bbd6d44db2",
        "type": "quote_box",
        "body": "<p>I mean Negative Capability, that is when man is capable of being in uncertainties, Mysteries, doubts, without any irritable reaching after fact &amp; reason</p>",
        "citation": "John Smith",
        "url": "https://www.poetryfoundation.org/articles/69384/selections-from-keatss-letters"
      },
      # example quote without link
      {
        "uuid": "00ef1a53-b7ec-4c11-9554-43bbd6d44db3",
        "uuidClean": "00ef1a53_b7ec_4c11_9554_43bbd6d44db3",
        "type":  "quote_box",
        "body": "<p>A mistake should be your teacher, not your attacker. A mistake is a lesson, not a loss. It is a temporary, necessary detour, not a dead end.</p>",
        "citation": "Anonymous",
        "url": null
      },
      # example quote without citation & url specified
      {
        "uuid": "00ef1a53-b7ec-4c11-9554-43bbd6d44db4",
        "uuidClean": "00ef1a53_b7ec_4c11_9554_43bbd6d44db4",
        "type": "quote_box",
        "body": "<p>If you give someone a program, you will frustrate them for a day; if you teach them how to program, you will frustrate them for a lifetime.</p>",
        "citation": null,
        "url":  null
      },
      # example quote without citation specified but url specified
      {
        "uuid": "00ef1a53-b7ec-4c11-9554-43bbd6d44db5",
        "uuidClean": "00ef1a53_b7ec_4c11_9554_43bbd6d44db5",
        "type":  "quote_box",
        "body": "<p>A computer makes it possible to do, in half an hour, tasks which were completely unnecessary to do before.</p>",
        "citation": null,
        "url": "http://www.google.com"
      }
    ],
  },
  "layout": "amp-layout.njk",
  "permalink": "demo-amp-quote.html"
}
---
<h1>{{result.title}} {{projectConfig.version}} - {{projectConfig.date}}</h1>

<h2>Example with link</h2>
{% include amp-quote.html data:result.components[0] -%}

<h2>Example without link</h2>
{% include amp-quote.html data:result.components[1] -%}

<h2>Example without Citation</h2>
{% include amp-quote.html data:result.components[2] -%}

<h2>Example with Link, but missing Citation</h2>
{% include amp-quote.html data:result.components[3] -%}
