---
{
  "result": {
    "title": "Carousel",
    "components": [
      {
        "uuid": "c2fc2507-39e3-47d9-a6c2-8d08bfe83353",
        "uuidClean": "c2fc2507_39e3_47d9_a6c2_8d08bfe83353",
        "type": "carousel",
        "slides": [
          {
            "uuid": "c2fc2507-39e3-47d9-a6c2-8d08bfe83354",
            "uuidClean": "c2fc2507_39e3_47d9_a6c2_8d08bfe83354",
            "type": "image",
            "width": 300,
            "height": 200,
            "url": "https://assets.contenta.tvo.org/prod/public/2020-09/3x2_01.01.03a.jpg",
            "altText": "Mountain Lake",
            "caption": "Configure all user info in such a way, etc. Configure all user info as such."
          },
          {
            "uuid": "c2fc2507-39e3-47d9-a6c2-8d08bfe83355",
            "uuidClean": "c2fc2507_39e3_47d9_a6c2_8d08bfe83355",
            "type": "image",
            "width": 1200,
            "height": 800,
            "url": "https://assets.contenta.tvo.org/prod/public/2020-04/01.02.03_Family.jpg",
            "altText": "Family",
            "caption": null
          },
          {
            "uuid": "c2fc2507-39e3-47d9-a6c2-8d08bfe83356",
            "uuidClean": "c2fc2507_39e3_47d9_a6c2_8d08bfe83356",
            "type": "image",
            "width": 1200,
            "height": 800,
            "url": "https://assets.contenta.tvo.org/prod/public/2020-09/3x2_02.08.01_Balancing-stones.jpg",
            "altText": "Balancing stones",
            "caption": "Balancing stones"
          },
          {
            "uuid": "c2fc2507-39e3-47d9-a6c2-8d08bfe83357",
            "uuidClean": "c2fc2507_39e3_47d9_a6c2_8d08bfe83357",
            "type": "formatted_text",
            "heading": null,
            "body": "<p>This Formatted Text box does not have a heading.</p><p>If we compare the number of adults to the number of children, we would say the ratio of adults to children is <strong>two to three</strong> or 2 adults for every 3 children (word form).</p>\n<p>We can also write this as adults : children = \\(2:3\\) (colon form) or it can be written \\(\\frac{2}{3}\\) (fraction form).</p>\n<p>The order in which we write the numbers depends on the order in which we are describing the quantities.</p>\n"
          },
          {
            "uuid": "c2fc2507-39e3-47d9-a6c2-8d08bfe83358",
            "uuidClean": "c2fc2507_39e3_47d9_a6c2_8d08bfe83358",
            "type": "formatted_text",
            "heading": {
              "processed": "Formatted text with a heading!",
              "headingLevel": "h2"
            },
            "body": "<p>If we compare the number of adults to the number of children, we would say the ratio of adults to children is <strong>two to three</strong> or 2 adults for every 3 children (word form).</p>\n<p>We can also write this as adults : children = \\(2:3\\) (colon form) or it can be written \\(\\frac{2}{3}\\) (fraction form).</p>\n<p>The order in which we write the numbers depends on the order in which we are describing the quantities.</p>\n"
          },
          {
            "uuid": "c2fc2507-39e3-47d9-a6c2-8d08bfe83359",
            "uuidClean": "c2fc2507_39e3_47d9_a6c2_8d08bfe83359",
            "type": "formatted_text",
            "body": "<p>This new version of apollo does not return Formatted-Text-No-Heading. Instead the values are retured as Formatted-Text, where a heading is <strong>not even an option</strong>.</p><p>If we compare the number of adults to the number of children, we would say the ratio of adults to children is <strong>two to three</strong> or 2 adults for every 3 children (word form).</p>\n<p>We can also write this as adults : children = \\(2:3\\) (colon form) or it can be written \\(\\frac{2}{3}\\) (fraction form).</p>\n<p>The order in which we write the numbers depends on the order in which we are describing the quantities.</p>\n"
          }
        ]
      },



      {
        "uuid": "150-0000-0001",
        "type": "carousel",
        "slides": [
          {
            "uuid": "349-0000-0001",
            "type": "image",
            "width": 300,
            "height": 200,
            "url": "https://assets.contenta.tvo.org/prod/public/2020-09/3x2_01.01.03a.jpg",
            "altText": "Mountain Lake",
            "caption": "Configure all user info in such a way, etc. Configure all user info as such."
          },
          {
            "uuid": "3490-0000-0001",
            "type": "image",
            "width": 1200,
            "height": 800,
            "url": "https://assets.contenta.tvo.org/prod/public/2020-04/01.02.03_Family.jpg",
            "altText": "Family",
            "caption": null
          },
          {
            "uuid": "3490-0000-0001",
            "type": "image",
            "width": 1200,
            "height": 800,
            "url": "https://assets.contenta.tvo.org/prod/public/2020-09/3x2_02.08.01_Balancing-stones.jpg",
            "altText": "Balancing stones",
            "caption": "Balancing stones"
          },
          {
            "uuid": "50-0000-0001",
            "type": "formatted_text",
            "heading": null,
            "body": "<p>This Formatted Text box does not have a heading.</p><p>If we compare the number of adults to the number of children, we would say the ratio of adults to children is <strong>two to three</strong> or 2 adults for every 3 children (word form).</p>\n<p>We can also write this as adults : children = \\(2:3\\) (colon form) or it can be written \\(\\frac{2}{3}\\) (fraction form).</p>\n<p>The order in which we write the numbers depends on the order in which we are describing the quantities.</p>\n"
          },
          {
            "uuid": "60-0000-0001",
            "type": "formatted_text",
            "heading": {
              "processed": "Formatted text with a heading!",
              "headingLevel": "h2"
            },
            "body": "<p>If we compare the number of adults to the number of children, we would say the ratio of adults to children is <strong>two to three</strong> or 2 adults for every 3 children (word form).</p>\n<p>We can also write this as adults : children = \\(2:3\\) (colon form) or it can be written \\(\\frac{2}{3}\\) (fraction form).</p>\n<p>The order in which we write the numbers depends on the order in which we are describing the quantities.</p>\n"
          },
          {
            "uuid": "500-0000-0001",
            "type": "formatted_text",
            "body": "<p>This new version of apollo does not return Formatted-Text-No-Heading. Instead the values are retured as Formatted-Text, where a heading is <strong>not even an option</strong>.</p><p>If we compare the number of adults to the number of children, we would say the ratio of adults to children is <strong>two to three</strong> or 2 adults for every 3 children (word form).</p>\n<p>We can also write this as adults : children = \\(2:3\\) (colon form) or it can be written \\(\\frac{2}{3}\\) (fraction form).</p>\n<p>The order in which we write the numbers depends on the order in which we are describing the quantities.</p>\n"
          }
        ]
      }



    ]
  },
  "layout": "amp-layout.njk",
  "permalink": "demo-amp-carousel.html"
}
---
<h1>{{result.title}} {{projectConfig.version}} - {{projectConfig.date}}</h1>
{% include amp-carousel.html data:result.components[0] -%}
<hr />
{% include amp-carousel.html data:result.components[1] -%}