---
{
  "result": {
    "title": "Table",
    "components": [
      {
        "uuid": "00ef1a53-b7ec-4c11-9554-43bbd6d44935",
        "uuidClean": "00ef1a53_b7ec_4c11_9554_43bbd6d44935",
        "type": "table",
        "caption": "This table features headers on top and left, with the left pane frozen on scroll.",
        "headers": "TOP_AND_LEFT",
        "freezeLeft": true,
        "rows": [
        {
            "columns": [
                {
                    "Type of polynomial"
                },
                {
                    "Number of terms"
                },
                {
                    "Examples"
                },
                {
                    "Some"
                },
                    {
                    "extra"
                },
                {
                    "content"
                },
                {
                    "for"
                },
                {
                    "testing"
                }
            ]
        },
        {
            "columns": [
                {
                    "Constant next word"
                },
                {
                    "1 (no variable)"
                },
                {
                    "Math"
                },
                {
                    "Some extra content"
                },
                    {
                    "to make the table"
                },
                {
                    "wider."
                },
                {
                    "Should be interesting"
                },
                {
                    "dontcha think?"
                }
            ]
        },
        {
            "columns": [
                {
                    "Monomial"
                },
                {
                    "1"
                },
                {
                    "Math"
                },
                {
                    "Some extra content"
                },
                    {
                    "to make the table"
                },
                {
                    "wider."
                },
                {
                    "Should be interesting"
                },
                {
                    "dontcha think?"
                }
            ]
        },
        {
            "columns": [
                {
                    "BinomialBinomial"
                },
                {
                    "2"
                },
                {
                    "p tag"
                },
                {
                    "Some extra content"
                },
                    {
                    "to make the table"
                },
                {
                    "wider."
                },
                {
                    "Should be interesting"
                },
                {
                    "dontcha think?"
                }
            ]
        },
        {
            "columns": [
                {
                    "Trinomial"
                },
                {
                    "3"
                },
                {
                    "Math"
                },
                {
                    "Some extra content"
                },
                    {
                    "to make the table"
                },
                {
                    "wider."
                },
                {
                    "Should be interesting"
                },
                {
                    "dontcha think?"
                }
             ]
           }
         ]
       }
    ]
  },
  "layout": "amp-layout.njk",
  "permalink": "demo-amp-table-0.html"
}
---
<h1>{{result.title}} {{projectConfig.version}} - {{projectConfig.date}}</h1>
{% include amp-table.html data:result.components[0] -%}


