.srOnly:not(:focus):not(:active) {
   clip: rect(0 0 0 0); 
   clip-path: inset(50%);
   height: 1px;
   overflow: hidden;
   position: absolute;
   white-space: nowrap; 
   width: 1px;
}

.Image__container {
   display: flex;
   flex-direction: column;
   border: none;
   position: relative;
   color: #fff;
}

.Image__canvasImgContainer {
   padding: 20px 20px 0 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.Image__img {
  border: none;
  max-width: 100%;
  height: auto;
  align-self: center;
}

.Image__img:hover {
   cursor: pointer;
}

.Image__img:focus {
   outline: 3px solid #ffc46b;
}

.Image__imgLink {
   align-self: center;
   margin: 0;
   text-decoration: none;
   border: none;
   height: auto;
}

.Image__outline {
   display: flex;
   position: relative;
   justify-content: center;
   align-items: center;
   background-color: #f6f6f6;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='194px' viewBox='0 0 24 24' width='194px' fill='%23b2b2b2'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-4.86 8.86l-3 3.87L9 13.14 6 17h12l-3.86-5.14z'/%3E%3C/svg%3E");
   background-repeat: no-repeat;
   background-position: center;
   height: 400px;
   width: 100%;
   color: #fff;
   transition: border ease-in-out 0.3s;
   border: 1px solid #707070;
}

.Image__outline:hover {
   cursor: pointer;
}

.Image__outline:focus {
   outline: 3px solid #ffc46b;
   z-index: 100;
}

.Image__caption {
   border: none;
   font-family: "Roboto", "Arial", sans-serif;
   box-sizing: border-box;
   width: calc(100% - 4px);
   padding: 10px 10px;
   margin: 5px;
   background: #fff;
   align-self: center;
   text-align: left;
   font-size: 0.875rem;
   color: #000;
   resize: none;
   overflow: hidden;
}

.Image__caption::placeholder {
   font-size: 0.875rem;
}

.Image__caption:focus,
.Image__caption:active {
   outline: 2px solid #ffc46b;
}