@import "mixins/__mixins-dir";
@import "global/_colors";

// This stylesheet is for the AMP Brightcove video player. This CSS does not
// get compiled into the rest of the page, but instead is compiled into it's
// own CSS file that is uploaded to Brightcove directly. It is included in
// this codebase so we can leverage the same colour variable system defined
// for the rest of the components.

// Original player CSS from Keith - Mostly around transcripts
.bcTextContainer {
    //font-family: SuisseIntl, Helvetica, Arial, sans-serif;
    //position: absolute;
    //top: 0px;
    height: 100%;
    //width: 100%;
    //box-sizing: border-box;
}

.bcTextContent {
    height: calc(100% - 42px);
    overflow: auto;
    background-color: white;
    font-size: 14px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid grey;
}

/*Fix for IE bug.
Dotted outline that appears when text box gets focus is duplicated repeadedly when the text is scrolled.
Fix is to replace default focus behaviour with the following.
FF, IE and Edge use the first rule. Chrome, Safari and Opera use the second rule (-webkit prefix).
These rules duplicate the look and feel of each browser's default behaviour.*/
.bcTextContent:focus {
    outline: 1px dotted #212121;
    outline: 5px auto -webkit-focus-ring-color;
}

.bcTextFooter {
    //height: 42px;
    background-color: grey;
    box-sizing: border-box;
}

// .bcRtnButton {
//     float: right;
//     margin-top: 12px;
//     margin-right: 40px;
//     border: solid white 1px;
//     color: white;
//     background-color: grey;
//     cursor: pointer;
//     font-size: 14px;
// }

/*Add the hi-lite on our custom button when it gets focus.
This mimics the behaviour of the standard player buttons.*/
.bcRtnButton:focus {
    text-shadow: 0 0 1em #fff
}

/*Setting button border to zero kills the default focus styles on Firefox.
We have to re-set it with this, which mimics the default behaviour.*/
.bcRtnButton:-moz-focusring {
    @include outline-focus;
}

/*Re-sets the default Brightcove player button behaviour on Firefox in
case anyone has disabled it in CSS by setting button::-moz-focus-inner {border: 0;}.
A lot of people do this because it's ugly, but this is normally left on in the Brightcove player */
.vjs-control-bar .vjs-button:-moz-focusring {
    @include outline-focus;
}

/*Required only for v6 player*/
.vjs-custom-control-spacer.vjs-spacer {
    display: block;
}

/*Mimics the behaviour of the standard brightcove player buttons.*/
.vjs-transcript-control {
    cursor: pointer;
}

/*Mimics how font icons are added for standard Brightcove player buttons.*/
.vjs-transcript-control span[class="vjs-icon-placeholder"] {
    font-family: tvo-custom;
    font-weight: 400;
    font-style: normal;
}

/*Mimics how font icons are added for standard Brightcove player buttons.*/
.vjs-transcript-control span[class="vjs-icon-placeholder"]:before {
    content: "\e000";
}


// CSS provided by UX team

*:focus {
    @include outline-focus;
    //outline-offset: 2px;
    z-index: 1;
}

.video-js {
    background-color: initial !important;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}


.video-js .vjs-big-play-button:focus,
.video-js .vjs-big-play-button:active,
.video-js:focus .vjs-big-play-button,
.video-js:active .vjs-big-play-button {
  background: #0e8515 !important; 
  box-shadow: none !important;
}

.video-js .vjs-big-play-button:focus {
    outline-offset: 2px;
    box-shadow: none !important;
}

/* Poster Image */
.vjs-poster:before {
    content: "";
    background: #000;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* BigPlayButton */
.video-js .vjs-big-play-button {
    background: #0e8515;
    opacity: 1;
    border-radius: 100%;
    width: 130px;
    height: 130px;
    line-height: 130px;
    font-size: 90px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.video-js:hover .vjs-big-play-button,
.video-js .vjs-big-play-button:hover {
    background: #0e8515 !important;
    transform: scale(1.1);
    transition: 0.2s all ease-out;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.5) !important;
}

.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
    content: "\f101";
    color: #fff;
}

@media (max-width: 640px){
    .video-js .vjs-big-play-button {
      transform: scale(0.8) !important;
    }
    .video-js .vjs-big-play-button:hover{
        transform: scale(0.85) !important;
    }
}

@media (max-width: 360px){
    .video-js .vjs-big-play-button {
        transform: scale(0.5) !important;
    }
    .video-js .vjs-big-play-button:hover{
        transform: scale(0.5) !important;
    }
}

/* ControlBar (Inherited by icons in the ControlBar, but NOT the ProgressControl) */
.video-js .vjs-control-bar {
    color: #fff;
    background-color: #0e8515;
    visibility: visible;
    padding: 0 3px 3px;
}

.vjs-has-started .vjs-control-bar {
    visibility: visible;
}

///* PlayToggle */
//.video-js .vjs-play-control {}

.vjs-control-bar {
    display: flex;
    opacity: 1;
    visibility: visible;
    transform: none !important;
    display: initial;
}

/* VolumeBar */
.vjs-volume-bar.vjs-slider-bar.vjs-slider.vjs-slider-horizontal {
    color: #ec1944;
}

/* VolumeLevel */
.video-js .vjs-volume-level {
    background: #CCDC00;
    border-radius: 4px;
}

.video-js .vjs-volume-level:before {
    color: #eee;
}

.video-js .vjs-volume-panel button,
button.vjs-subs-caps-button {
    min-height: 40px;
}

/* CurrentTimeDisplay */
.video-js .vjs-current-time {
    color: #eee;
}

.video-js .vjs-play-progress .vjs-time-tooltip {
    display: none !important;
}

/* TimeDivider */
.video-js .vjs-time-divider {
    color: #ffff00;
    font-weight: bold;
}

/* DurationDisplay */
.video-js .vjs-duration {
    text-decoration: italic;
    color: #eee;
}

/* SeekBar */
.video-js .vjs-progress-control.vjs-control {
    color: #fff;
}

/* PlayProgressBar */
.vjs-slider,
.vjs-load-progress,
.vjs-slider-bar {
    border-radius: 4px;
}

.video-js .vjs-slider {
    background: #8E9295;
}

.video-js .vjs-load-progress,
.video-js .vjs-load-progress div {
    background: #C6CDD0;
}

.video-js .vjs-play-progress.vjs-slider-bar {
    color: #fff;
    background-color: #CCDC00;
}

.video-js .vjs-play-progress.vjs-slider-bar:after {
    content: "";
    border-radius: 100px;
    background: #eee;
    width: 8px;
    height: 8px;
    position: absolute;
    right: -3px;
    top: -2px;
}

/* Control bar button colours */

.vjs-button,
.vjs-fullscreen-control.vjs-control,
button.vjs-mute-control,
.vjs-control.vjs-button.vjs-vol-3,
.vjs-control.vjs-button,
.video-js .vjs-play-control .vjs-icon-placeholder:before,
.vjs-icon-play:before,
.vjs-volume-level:before {
    color: #eee;
    background: none !important;
}

/* Control bar button colours - HOVER */

.vjs-button:hover,
.vjs-fullscreen-control.vjs-control:hover,
button.vjs-mute-control:hover,
.vjs-control.vjs-button.vjs-vol-3:hover,
.vjs-control.vjs-button:hover,
.video-js .vjs-play-control:hover .vjs-icon-placeholder:before,
.vjs-play-control:hover .vjs-icon-play:before,
.vjs-volume-level:hover:before {
    color: #fff;
    border: 0 !important;
}

.vjs-transcript-control span[class="vjs-icon-placeholder"]:before {
    line-height: 2;
    font-size: 1.5em;
}

.vjs-menu {
    color: #fff;
}

ul.vjs-menu-content {
    padding: 0 !important;
    margin: 0 !important;
}

.vjs-menu-button-popup .vjs-menu .vjs-menu-content {
    border-radius: 4px 4px 0px 0px;
    padding: 4px 0px 0px 0px !important;
    background-color: rgba(43,51,63,.7);
}

.vjs-menu-content li {
    font-size: 15px !important;
    line-height: 18px !important;
    border-radius: 5px;
    margin: 0px 4px 4px 4px !important;
}

.vjs-menu-content li span {
    color: #fff !important;
    letter-spacing: 0 !important;
    font-family: Helvetica, arial, sans-serif !important;
    font-weight: normal !important;
}

.vjs-menu-content li:last-child {
    margin: 0;
}

.vjs-selected {
    border-left: 0px #0e8515 solid;
    background: #fff !important;
}

.vjs-selected::before {
    content: '';
    width: 8px;
    height: 12px;
    display: inline-block;
    position: relative;
    color: #0e8515;
    left: -12px;
    top: -1px;
    transform: rotate(45deg);
    border-bottom: 3px #0e8515 solid;
    border-right: 3px #0e8515 solid;

}

li.vjs-selected span {
    color: #000 !important;
}

/* Caption Dialog */
.vjs-modal-dialog.vjs-text-track-settings {
    background-color: #2b333f;
    background-color: rgba(43, 51, 63, 0.75);
    color: #fff;
    height: 100%;
}

.vjs-track-setting select {
    border-radius: 3px;
    padding: 4px;
}

.vjs-control .vjs-button {
    max-height: 22px;
}

.vjs-track-settings-controls button {
    background-color: #fff;
    background-image: none;
    color: #2b333f;
    cursor: pointer;
    border-radius: 20px;
    padding: 4px 20px;
}

.bcTextContainer {
    font-family: Helvetica, Arial, sans-serif;
    top: 0;
    width: 100%;
    //height: 260px;
    position: initial !important;
    box-sizing: border-box;
}

.bcTextContent {
    font-family: Helvetica, Arial, sans-serif;
    color: #000;
    font-size: 15px;
    padding: 20px;
}

.bcRtnButton {
    float: right;
    margin: 0;
    border: solid #fff 1px;
    cursor: pointer;
    font-size: 14px;
    padding: 4px 20px !important;
    background: #fff;
    color: #000;
    border-radius: 30px;
    border: 0;
}

// .bcRtnButton:hover {
//     background: #fff !important;
//     color: #000 !important;
//     border: 0 !important;
// }

.bcTextFooter {
    height: 42px !important;
    padding: 10px !important;
}

.video-js .vjs-control.vjs-close-button {
    color: #fff;
    transform: scale(1.1);
}

.vjs-track-settings-controls .vjs-default-button {
    background: none !important;
    border: 2px #fff solid;
    color: #fff !important;
}