@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

.tab-container {
  box-sizing: border-box;

  //TYPOGRAPHY
  font-family: "Inter", sans-serif;
  letter-spacing: 0.1px;
  line-height: 25px;
  color: #636363;

  .tab-title-wrapper {
    display: flex;
    // height: 40px;

    //tab title styles
    .tab-title {
      background-color: #f5f5f5;
      border: 1px solid #bdbdbd;
      border-radius: 10px 10px 0px 0px;
      width: 100%;
      min-height: 40px;
      max-height: 69px;
      padding: 8px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #636363;
      font-weight: 500;
      text-align: center;
    }

    .tab-title-input {
      font-family: "Inter", sans-serif;
      border: none;
      padding: 0;
      font-size: 18px;
      width: 100%;
      height: 25px;
      max-height: 50px;
      text-align: center;
      resize: none;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;

      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background: #e4efef;
      }

      &::-webkit-scrollbar-thumb {
        background: #1d388f61;
        border-radius: 2px;
      }
    }

    //on click active tab styles apply
    .active-tab {
      background-color: #fff;
      color: #232323;
      border-bottom: 0px;

      .tab-title-input {
        width: 100%;

        &::placeholder {
          color: #232323;
        }

        &:focus {
          border: none;
          outline: none;

          &::placeholder {
            color: rgba(0, 0, 0, 0.12);
          }
        }
      }
    }
  }

  //tab placeholder styles
  .tab-body {
    padding: 10px;
    border: 1px solid #bdbdbd;
    border-top: none;
  }

  .placeholder-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 130px;
    border: 3px dashed #1565c0;

    h3 {
      font-weight: 400;
      font-size: 24px;
      line-height: 32.02px;
      margin: 0;
    }

    p {
      font-size: 14px;
      margin-bottom: 0;
      font-weight: 500;
    }

    p:last-child {
      margin-top: 0;
      color: #1565c0;
    }
  }
}
