/* .canvas-draw {
  padding: 0;
  margin: auto;
  display: block;
  touch-action: none;
  width: "560px";
} */

.latex-renderer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f2f2f5;
  height: 65px;
  width: 560px;
  font-size: 14px;
}

.canvas-draw-container {
  margin-top: 16px;
  height: 200px;
}

.canvas-draw {
  border: 2px solid #1565c0;
  display: block;
}

.canvas-buttons-container{
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 40px;
  background-color: white;
  border: 1px solid #E0E0E0;
  padding: 12px;
  margin-left: 8px;
  margin-top: -200px;
}

.insert-button-container{
  margin: 22px 0px;
  display: flex;
  flex-direction: row-reverse;
}

.insert-button{
  color: #1565c0;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.4px;
  background: none;
}